﻿@model WebAPITest.Models.PartnerInputAllStrings
@using WebAPITest.Extensions
@using WebAPITest.Models
@{
    ViewBag.Title = "Input test";
    Layout = "~/Views/Shared/_LayoutPage_InputTest.cshtml";
}

<script type="text/javascript">

</script>
	
	<body style="margin:10px;">
		<div class="container">
			<div class="row">
				<div class="col-md-5">
					<h1>DLL Connect - Input Test</h1>
				</div>
			</div>
            @if(Model.Errors.Count == 0)
            {
			    <div class="row">
				    <div class="col-md-12">
					    <div class="alert alert-success alert-dismissible" role="alert">
						    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						    <p><strong>Success!</strong> No errors were found with your post!</p>
					    </div>
				    </div>
			    </div>                
            }
            @if (Model.Warnings.Count > 0)
            {
			    <div class="row">
				    <div class="col-md-12">
					    <div class="alert alert-warning alert-dismissible" role="alert">
						    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						    <p><strong>Warning!</strong> You did not post a value for the following parameters</p>
                            @foreach (var item in Model.Warnings)
                            {
                                <small>@item</small>
                            }
					    </div>
				    </div>
			    </div>
            }
            @if (Model.Errors.Count > 0)
            {
			    <div class="row">
				    <div class="col-md-4">
					    <div class="alert alert-danger alert-dismissible" role="alert">
						    <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
						    <p><strong>Error!</strong> You have <b>@Model.Errors.Count</b> errors with your post</p>
						    @foreach (var item in Model.Errors)
                            {
                                if (item.ToUpper() == "SENDCREDITREQUEST" || item.ToUpper() == "CALCULATEBYRENT" || item.ToUpper() == "SMEFINANCING")
                                {
                                    <small>@item must be sent as a <strong>boolean</strong></small><br>

                                }
                                else if (item.ToUpper() == "PERIODLENGTH" || item.ToUpper() == "DURATION" || item.ToUpper() == "SALESCOMMISSION")
                                {
                                    <small>@item must be sent as an <strong>number</strong></small><br>                                    
                                }
                                else
                                {
                                    <small>@item has wrong type</small><br>
                                }
                            }
                   </div>
				    </div>
			    </div>
            }
			<div class="row">
				<div class="col-md-4">
					<table class="table table-bordered table-condensed table-condensed">
						<thead>
							<tr>
								<th colspan="3" class="tableHeader">Calculation Input</th>
							</tr>
							<tr>
								<th>Parameter</th>
								<th>Type</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr class=@(Model.Errors.Contains("username") ? "danger" : (Model.Warnings.Contains("username") ? "warning" : "success"))>
								<td>Username</td>
								<td>String</td>
								<td>@Model.username</td>
							</tr>
							<tr class=@(Model.Errors.Contains("password") ? "danger" : (Model.Warnings.Contains("password") ? "warning" : "success"))>
								<td>Password</td>
								<td>String</td>
								<td>@Html.Password("Password", Model.password, new { @readonly = "true", style = "border:none; background-color:lightgray"})</td>
							</tr>
                            <tr class=@(Model.Errors.Contains("customerOfferID") ? "danger" : (Model.Warnings.Contains("customerOfferID") ? "warning" : "success"))>
								<td>CustomerOfferID</td>
								<td>String</td>
								<td>@Model.customerOfferID</td>
							</tr>
							<tr class=@(Model.Errors.Contains("salesPersonEmail") ? "danger" : (Model.Warnings.Contains("salesPersonEmail") ? "warning" : "success"))>
								<td>SalesPersonEmail</td>
								<td>String</td>
								<td>@Model.salesPersonEmail</td>
							</tr>
							<tr class=@(Model.Errors.Contains("billing") ? "danger" : (Model.Warnings.Contains("billing") ? "warning" : "success"))>
								<td>Billing</td>
								<td>String</td>
								<td>@Model.billing</td>
							</tr>
							<tr class=@(Model.Errors.Contains("interestType") ? "danger" : (Model.Warnings.Contains("interestType") ? "warning" : "success"))>
								<td>InterestType</td>
								<td>String</td>
								<td>@Model.interestType</td>
							</tr>
							<tr class=@(Model.Errors.Contains("periodLength") ? "danger" : (Model.Warnings.Contains("periodLength") ? "warning" : "success"))>
								<td>PeriodLength</td>
								<td>Number</td>
								<td>@Model.periodLength</td>
							</tr>
							<tr class=@(Model.Errors.Contains("duration") ? "danger" : (Model.Warnings.Contains("duration") ? "warning" : "success"))>
                                <td>Duration</td>
								<td>Number</td>
								<td>@Model.duration</td>
							</tr>
							<tr class=@(Model.Errors.Contains("residualClause") ? "danger" : (Model.Warnings.Contains("residualClause") ? "warning" : "success"))>
								<td>ResidualClause</td>
								<td>String</td>
								<td>@Model.residualClause</td>
							</tr>
							<tr class=@(Model.Errors.Contains("externalReference") ? "danger" : (Model.Warnings.Contains("externalReference") ? "warning" : "success"))>
								<td>ExternalReference</td>
								<td>String</td>
								<td>@Model.externalReference</td>
							</tr>
							<tr class=@(Model.Errors.Contains("sendCreditRequest") ? "danger" : (Model.Warnings.Contains("sendCreditRequest") ? "warning" : "success"))>
								<td>SendCreditRequest</td>
								<td>Boolean</td>
								<td>@Model.sendCreditRequest</td>
							</tr>
							<tr class=@(Model.Errors.Contains("customerOrgNo") ? "danger" : (Model.Warnings.Contains("customerOrgNo") ? "warning" : "success"))>
								<td>CustomerOrgNo</td>
								<td>String</td>
								<td>@Model.customerOrgNo</td>
							</tr>
							<tr class=@(Model.Errors.Contains("calculateByRent") ? "danger" : (Model.Warnings.Contains("calculateByRent") ? "warning" : "success"))>
								<td>CalculateByRent</td>
								<td>Boolean</td>
								<td>@Model.calculateByRent</td>
							</tr>
							<tr class=@(Model.Errors.Contains("salesCommission") ? "danger" : (Model.Warnings.Contains("salesCommission") ? "warning" : "success"))>
								<td>SalesCommission</td>
								<td>Number</td>
								<td>@Model.salesCommission</td>
							</tr>
							<tr class=@(Model.Errors.Contains("smeFinancing") ? "danger" : (Model.Warnings.Contains("smeFinancing") ? "warning" : "success"))>
								<td>SmeFinancing</td>
								<td>Boolean</td>
								<td>@Model.smeFinancing</td>
							</tr>
						</tbody>
					</table>
				</div>

			    <div class="col-md-4">
			    	<table class="table table-bordered table-condensed">
				    	<thead>
					    	<tr>
						    	<th colspan="3" class="tableHeader">Customer Info</th>
						    </tr>
						    <tr>
							    <th>Parameter</th>
							    <th>Type</th>
							    <th>Value</th>
	    					</tr>
	    				</thead>
	    				<tbody>
			    				<tr class=@(Model.Errors.Contains("customerInfo.contact") ? "danger" : (Model.Warnings.Contains("customerInfo") || Model.Warnings.Contains("customerInfo.contact") ? "warning" : "success"))>
			    					<td>Contact</td>
			    					<td>String</td>
			    					<td>@Model.customerInfo.contact</td>
				    			</tr>
				    			<tr class=@(Model.Errors.Contains("customerInfo.email") ? "danger" : (Model.Warnings.Contains("customerInfo") || Model.Warnings.Contains("customerInfo.email") ? "warning" : "success"))>
				    				<td>Email</td>
				    				<td>String</td>
				    				<td>@Model.customerInfo.email</td>
				    			</tr>
				    			<tr class=@(Model.Errors.Contains("customerInfo.fax") ? "danger" : (Model.Warnings.Contains("customerInfo") || Model.Warnings.Contains("customerInfo.fax") ? "warning" : "success"))>
					    			<td>Fax</td>
						    		<td>String</td>
							    	<td>@Model.customerInfo.fax</td>
    							</tr>
	    						<tr class=@(Model.Errors.Contains("customerInfo.phoneNo") ? "danger" : (Model.Warnings.Contains("customerInfo") || Model.Warnings.Contains("customerInfo.phoneNo") ? "warning" : "success"))>
		    						<td>PhoneNo</td>
			    					<td>String</td>
				    				<td>@Model.customerInfo.phoneNo</td>
					    		</tr>
						    </tbody>
    					</table>
	    			</div>
                
				<div class="col-md-4">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th colspan="3" class="tableHeader">Installation address</th>
							</tr>
							<tr>
								<th>Parameter</th>
								<th>Type</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr class=@(Model.Errors.Contains("installationAddress.address") ? "danger" : (Model.Warnings.Contains("installationAddress") || Model.Warnings.Contains("installationAddress.address") ? "warning" : "success"))>
								<td >Address</td>
								<td>String</td>
								<td>@Model.installationAddress.address</td>
							</tr>
							<tr class=@(Model.Errors.Contains("installationAddress.location") ? "danger" : (Model.Warnings.Contains("installationAddress") || Model.Warnings.Contains("installationAddress.location") ? "warning" : "success"))>
								<td>Location</td>
								<td>String</td>
								<td>@Model.installationAddress.location</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
			<div class="row">
				<div class="col-md-4">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th colspan="3" class="tableHeader">Invoice address</th>
							</tr>
							<tr>
								<th>Parameter</th>
								<th>Type</th>
								<th>Value</th>
							</tr>
						</thead>
						<tbody>
							<tr class=@(Model.Errors.Contains("invoiceAddress.address") ? "danger" : (Model.Warnings.Contains("invoiceAddress") || Model.Warnings.Contains("invoiceAddress.address") ? "warning" : "success"))>
								<td>Address</td>
								<td>String</td>
								<td>@Model.invoiceAddress.address</td>
							</tr>
							<tr class=@(Model.Errors.Contains("invoiceAddress.city") ? "danger" : (Model.Warnings.Contains("invoiceAddress") || Model.Warnings.Contains("invoiceAddress.city") ? "warning" : "success"))>
								<td>City</td>
								<td>String</td>
								<td>@Model.invoiceAddress.city</td>
							</tr>
							<tr class=@(Model.Errors.Contains("invoiceAddress.coName") ? "danger" : (Model.Warnings.Contains("invoiceAddress") || Model.Warnings.Contains("invoiceAddress.coName") ? "warning" : "success"))>
								<td>CoName</td>
								<td>String</td>
								<td>@Model.invoiceAddress.coName</td>
							</tr>
							<tr class=@(Model.Errors.Contains("invoiceAddress.zipCode") ? "danger" : (Model.Warnings.Contains("invoiceAddress") || Model.Warnings.Contains("invoiceAddress.zipCode") ? "warning" : "success"))>
								<td>ZipCode</td>
								<td>String</td>
								<td>@Model.invoiceAddress.zipCode</td>
							</tr>
						</tbody>
					</table>
				</div>
				<div class="col-md-5">
					<table class="table table-bordered table-condensed">
						<thead>
							<tr>
								<th colspan="4" class="tableHeader">Products</th>
							</tr>
							<tr>
								<th>Parameter</th>
								<th>Type</th>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <th>Product @(i + 1)</th>
			                    }
							</tr>
						</thead>
						<tbody>
							<tr>
								<td>Type</td>
								<td>String</td>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <td class=@(Model.Errors.Contains("product" + (i+1).ToString() + ".type") ? "danger" : (Model.Warnings.Contains("product" + (i+1).ToString() + ".type") ? "warning" : "success"))>
                                        @Model.products.ElementAt(i).type
			                        </td>
			                    }
							</tr>
							<tr>
								<td>Name</td>
								<td>String</td>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <td class=@(Model.Errors.Contains("product" + (i+1).ToString() + ".name") ? "danger" : (Model.Warnings.Contains("product" + (i+1).ToString() + ".name") ? "warning" : "success"))>
                                        @Model.products.ElementAt(i).name
			                        </td>
			                    }
							</tr>
							<tr>
								<td>Specification</td>
								<td>String</td>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <td class=@(Model.Errors.Contains("product" + (i+1).ToString() + ".specification") ? "danger" : (Model.Warnings.Contains("product" + (i+1).ToString() + ".specification") ? "warning" : "success"))>
                                        @Model.products.ElementAt(i).specification
			                        </td>			                    
                                 }
							</tr>
							<tr>
								<td>Quantity</td>
								<td>Number</td>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <td class=@(Model.Errors.Contains("product" + (i+1).ToString() + ".quantity") ? "danger" : (Model.Warnings.Contains("product" + (i+1).ToString() + ".quantity") ? "warning" : "success"))>
                                        @Model.products.ElementAt(i).quantity
			                        </td>			                    
                                }
							</tr>
							<tr>
								<td>Price</td>
								<td>Number</td>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <td class=@(Model.Errors.Contains("product" + (i+1).ToString() + ".price") ? "danger" : (Model.Warnings.Contains("product" + (i+1).ToString() + ".price") ? "warning" : "success"))>
                                        @Model.products.ElementAt(i).price
			                        </td>
			                    }
							</tr>
							<tr>
								<td>Rent</td>
								<td>Number</td>
                                @for (int i = 0; i < Model.products.Count(); i++)
			                    {                                    
			                        <td class=@(Model.Errors.Contains("product" + (i+1).ToString() + ".rent") ? "danger" : (Model.Warnings.Contains("product" + (i+1).ToString() + ".rent") ? "warning" : "success"))>
                                        @Model.products.ElementAt(i).rent
			                        </td>
			                    }
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</body>