﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <h2>
        Sorry, an error occurred while processing your request.
    </h2>
    <h3>
        Error messages: 
        <br />
        @foreach (Exception e in ViewContext.HttpContext.AllErrors)
        { 
            <span>@e.Message</span>
            <br />
        }
    </h3>
</body>
</html>
