﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Debug</title>
</head>
<body>
    <div>
        <label>Deserialize time: @Html.Raw(ViewBag.DeserializeTime)</label><br />
        <label>Login time: @Html.Raw(ViewBag.LoginTime)</label><br />
        <label>Culture time: @Html.Raw(ViewBag.CultureTime)</label><br />
        <label>Get partner data time: @Html.Raw(ViewBag.GetPartnerDataTime)</label><br />
        <label>Cookie time: @Html.Raw(ViewBag.CookieTime)</label><br />
        
        
    </div>
</body>
</html>
