﻿@model WebAPITest.Models.CalculationIndexViewModel
@using WebAPITest.Extensions
@using WebAPITest.Models
@{
    ViewBag.Title = "DLL Connect - Calculation";
    ViewBag.Progressbar = "progressbar1";
}

<div id="loadError">
    <h2>Failed to load Entré data!</h2>
    <p>
        <h4>Please contact delagelanden for technical support or visit www.delagelandenfinans.se to complete the deal directly in Entré.</h4>
        <p>
            <h4>User name:</h4>            
            <div>@Html.Raw(Model.partnerInput.username)</div>
        </p>
    </p>
</div>
@* Top Row *@
<div class="row" style="padding-bottom:10px;">
	<div class="span3">
		<h5>@Html.Raw("PartnerOrderNumber".GetLocalizedText("")): @SessionObjects.PartnerOrderNumber</h5>
		@if(SessionObjects.EntreDealNumber != null) { <h5> @Html.Raw("EntreDealNo".GetLocalizedText("")): @SessionObjects.EntreDealNumber</h5> }
	</div>
	<div class="span2 pull-right text-right">
		<input type="button" id="save-button" class="btn btn-success pull-right" data-bind="click: function() { calculation.save() }" value='@Html.Raw("Save".GetLocalizedText(""))'/>
        <div id="saveSpinner"></div>
	</div>
</div>
@* End of top row *@
<form id="form" style="display:none;">
	<div class="row">
        <div class="span3">
            <table>
				<tr>
					<td><label>@Html.Raw("CustomerOffer".GetLocalizedText(""))</label></td>
                </tr>
				<tr>
					<td><select id="customerOfferSelect"
                            name="customerOfferSelect"
                            data-bind="options: customerOffers,
                                        optionsText: 'name',
                                        optionsValue: 'key',
                                        value: selectedCustomerOfferKey,
                                        optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                        chosen: {disable_search: true}">
                    </select></td>
				</tr>
                <tr>
					<td><label>@Html.Raw("SalesPerson".GetLocalizedText(""))</label></td>
                </tr>
				<tr>
                    <td><select id="salesPersonSelect"
                            name="salesPersonSelect"
                            data-bind="options: salesPersons,
                                        value: selectedSalesPersonName,
                                        optionsValue: 'fullName',
                                        optionsText: 'fullName',
                                        optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                        chosen: {disable_search_threshold: 2}">
                    </select></td>
				</tr>
                <!-- ko if:smeFinancingEnabled -->
                <tr>
					<td><label>@Html.Raw("SMEFinancing".GetLocalizedText(""))</label></td>
                </tr>
				<tr>
                    <td><select id="smeFinancingSelect"
					    name="smeFinancingSelect"
					    data-bind=" options: [0, 1],
								    value: calculation.smeFinancing,
								    optionsText: function(item){return {0:'@Html.Raw("No".GetLocalizedText(""))', 1:'@Html.Raw("Yes".GetLocalizedText(""))'}[item]},
								    chosen: {disable_search: true}">
				    </select></td>
				</tr>
                <!-- /ko -->
                <!-- ko if:calculation.smeFinancing -->
                <tr>
					<td><label>@Html.Raw("NoOfEmployees".GetLocalizedText(""))</label></td>
                </tr>
				<tr>
                    <td><input type="text" id="noOfEmployees" class="inputText" data-bind="value: calculation.noOfEmployees" /></td>
				</tr>
                <!-- /ko -->
            </table>
        </div>

        @****************************@
        @**  HYRESSAMMANSTÄLLNING  **@
        @****************************@

        <div class="span6">
			<div id="calculationInfoBox" class="infoBox">
				<div class="infoBoxHeader">
					<div><h1>@Html.Raw("CalculationResultHeader".GetLocalizedText(""))</h1></div>
                    <div id="calculateSpinner"></div>
				</div>
                <div>
				    <div class="infoBoxContent" data-bind="with:calculationResult">
					    <div style="float:left">
						    <!-- ko if:financedAmount --><label name="financedAmountLabel" id="financedAmountLabel">@Html.Raw("FinancedAmount".GetLocalizedText(""))</label><br /><!-- /ko -->
						    <!-- ko if:periodFee --><label name="periodFeeLabel" id="periodFeeLabel">@Html.Raw("PeriodFee".GetLocalizedText(""))</label><br /><!-- /ko -->
						    <!-- ko if:insuranceFee --><label name="insuranceFeeLabel" id="insuranceFeeLabel">@Html.Raw("InsuranceFee".GetLocalizedText(""))</label><br /><!-- /ko -->
						    <!-- ko if:residualValue --><label name="residualValueLabel" id="residualValueLabel">@Html.Raw("ResidualValue".GetLocalizedText(""))</label><br /><!-- /ko -->
                            <!-- ko if:smeDiscount --><label name="smeDiscountLabel" id="smeDiscountLabel">@Html.Raw("SMEDiscount".GetLocalizedText(""))</label><!-- /ko -->
					    </div>
					    <div style="float:right; text-align:left; margin-right:5px;">
						    <!-- ko if:financedAmount --><span data-bind="text: $parent.customerOffer().currency"></span><br /><!-- /ko -->
						    <!-- ko if:periodFee --><span data-bind="text: $parent.currencyWithPeriod"></span><br /><!-- /ko -->
						    <!-- ko if:insuranceFee --><span data-bind="text: $parent.currencyWithPeriod"></span><br /><!-- /ko -->
						    <!-- ko if:residualValue --><span data-bind="text: $parent.customerOffer().currency"></span><br /><!-- /ko -->
                            <!-- ko if:smeDiscount --><span>%</span><!-- /ko -->
					    </div>
					    <div style="float:right; text-align:right; margin-right:5px;">
						    <!-- ko if:financedAmount --><span id="financedAmount" data-bind="text: financedAmount"></span><br /><!-- /ko -->
                            <!-- ko if:periodFee --><input type="text" class="inputText" id="periodFee" name="periodFee" data-bind="value: periodFee" maxlength="8"/><br /><!-- /ko -->
						    <!-- ko if:insuranceFee --><span id="insuranceFee" data-bind="text: insuranceFee"></span><br /><!-- /ko -->
						    <!-- ko if:residualValue --><span id="residualValue" data-bind="text: residualValue"></span><br /><!-- /ko -->
                            <!-- ko if:smeDiscount --><span id="smeDiscount" data-bind="text: smeDiscount"></span><!-- /ko -->
					    </div>
					    <div style="clear:both"></div>
                        <div><span id="showFullCalculationResult" onclick="viewModel.showFullCalculationResult()">(@Html.Raw("ShowFullCalculationResult".GetLocalizedText("")))</span></div>
                        <div style="clear:both"></div>
				    </div>
                </div>
			</div>
		</div>

    </div>

    @***************************@
    @**  BERÄKNINGSUPPGIFTER  **@
    @***************************@
    <div class="row" style="padding:10px 0px 10px 0px">
		<div class="span9">
			<h3 style="margin-bottom: 5px">
				@Html.Raw("CalculationParameters".GetLocalizedText(""))
			</h3>
			<div class="row">
				<div class="span9">
					<div id="calculationParamWrapper">
					<table style="width:100%;" id="calculationOptions">
						<thead>
							<tr>
								<th class="text-left"><label>@Html.Raw("Duration".GetLocalizedText(""))</label></th>
								<th class="text-left"><label>@Html.Raw("PeriodLength".GetLocalizedText(""))</label></th>
								<th class="text-left"><label>@Html.Raw("Billing".GetLocalizedText(""))</label></th>
								<th class="text-left"><label>@Html.Raw("InterestType".GetLocalizedText(""))</label></th>
								<th class="text-left">
									<!-- ko if: customerOffer().residualClause -->
									<label>@Html.Raw("ResidualClause".GetLocalizedText(""))</label>
									<!-- /ko -->
								</th>
								<th class="text-left">
									<!-- ko if: customerOffer().salesCommissionMax -->
									<label>@Html.Raw("SalesCommission".GetLocalizedText(""))</label>
									<!-- /ko -->
								</th>
							</th>
						</thead>
						<tbody>
							<tr>
								<td>
									<input name="duration" id="duration" class="inputText clearFloatLeft" data-bind="value: calculation.duration" />
									<div class="clearFloatLeft" id="durationSlider"
										data-bind="fixedValuesSlider: calculation.duration,
													sliderOptions: {
														min: 0,
														max: customerOffer().duration.options().length - 1,
														range: 'min',
														step: 1
													},
													customOptions: {
														values: viewModel.getDurationOptions()
													}">
									</div>
									<!--customerOffer().duration.options-->
								</td>
								<td>
									<select id="periodLengthSelect"
									name="periodLengthSelect"
									data-bind=" options: customerOffer().periodLength.options,
												value: calculation.periodLength,
												optionsText: getPeriodLengthText,
												optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
												chosen: {disable_search: true}">
									</select>
								</td>
								<td>
									<select id="inAdvanceSelect"
									name="inAdvanceSelect"
									data-bind=" options: viewModel.mapInAdvanceOptions(customerOffer().inAdvance.options()),
												value: calculation.inAdvance,
												optionsText: function(item){return {'ADVANCE':'@Html.Raw("BillingOptionAdvance".GetLocalizedText(""))', 'ARREARS':'@Html.Raw("BillingOptionArrears".GetLocalizedText(""))'}[item]},
												optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
												chosen: {disable_search: true}">
									</select>
								</td>
								<td>
									<select id="interestTypeSelect"
									name="interestTypeSelect"
									data-bind=" options: customerOffer().interestType.options,
												value: calculation.interestType,
												optionsText: function(item){return {'FLEXIBLE':'@Html.Raw("InterestTypeOptionFlexible".GetLocalizedText(""))', 'FIXED':'@Html.Raw("InterestTypeOptionFixed".GetLocalizedText((string)ViewBag.ViewName))'}[item]},
												optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
												chosen: {disable_search: true}">
									</select>
								</td>
								<td>
									<!-- ko if: customerOffer().residualClause -->
										<select id="residualClauseSelect"
												name="residualClauseSelect"
												data-bind=" options: customerOffer().residualClause.options,
															value: calculation.residualClause,
															optionsText: function(item){return {'NONE':'@Html.Raw("ResidualClauseOptionNone".GetLocalizedText(""))', 'COMPELLED':'@Html.Raw("ResidualClauseOptionCompelled".GetLocalizedText((string)ViewBag.ViewName))'}[item]},
															optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
															chosen: {disable_search: true}">
										</select>
									<!-- /ko -->
								</td>
								<td>
									<!-- ko if: customerOffer().salesCommissionMax -->
										<input type="text"
											class="inputText clearFloatLeft"
											id="salesCommission"
											name="salesCommission"
											data-bind="value: calculation.salesCommission" />
									<!-- /ko -->
								</td>
							</tr>
						</tbody>
					</table>
					</div>
				</div>
			</div>
		</div>
	</div>

    @********************@
    @**  PRODUKTRADER  **@
    @********************@
    <div class="row" style="padding:10px 0px 10px 0px">
		<div class="span9">
			<h3 style="margin-bottom: 5px">
				@Html.Raw("Products".GetLocalizedText(""))
			</h3>
		
			<div class="row">
				<div class="span9">
					<div id="productWrapper">
						<table style="width:100%;">
							<thead>
								<tr>
									<th class="text-left"><label>@Html.Raw("ProductType".GetLocalizedText(""))</label></th>
									<th class="text-left"><label>@Html.Raw("Product".GetLocalizedText(""))</label></th>
									<th class="text-left"><label>@Html.Raw("Specification".GetLocalizedText(""))</label></th>
									<th class="text-left"><label>@Html.Raw("Quantity".GetLocalizedText(""))</label></th>
									<th class="text-left"><label>@Html.Raw("APrice".GetLocalizedText(""))</label></th>
									<th></th>
								</tr>
							</thead>
							<tbody data-bind='foreach: calculation.productRows'>
								<tr class="productRow">
									<td>
										<select class='rowType' data-bind='attr: {name: "rowType" + $index()}, options: $parent.customerOffer().sectionProducts, optionsValue: "sectionID", optionsText: "sectionName", optionsCaption: "@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))", value: selectedTypeID, chosen: {disable_search: true}'></select>
									</td>
									<td>
										<select class='rowProduct' data-bind='attr: {name: "rowProduct" + $index()}, options: type() ? type().products : "", optionsCaption: "@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))", value: productName, chosen: {disable_search: true}'></select>
									</td>
									<td>
										<input class='rowSpecification inputText' data-bind='attr: {name: "rowSpecification" + $index()}, value: specification' />
									</td>
									<td>
										<input style="width: 40px;" autocomplete="off" class='rowQuantity' data-bind='attr: {name: "rowQuantity" + $index()}, spinner: quantity' />
									</td>
									<td>
										<input class='rowPrice inputText' autocomplete="off" data-bind='attr: {name: "rowPrice" + $index()}, value: price' />
									</td>
									<td>
										<!-- ko if: $index() !== 0 -->
											<img src="~/Content/images/icons/delete-product-row.png" data-bind='click: $parent.calculation.deleteRow' class="deleteRow" title="@Html.Raw("Remove".GetLocalizedText(""))"/>
										<!-- /ko -->
									</td>
								</tr>
							</tbody>
						</table>
                        <i class="fa fa-plus-square" aria-hidden="true"></i><label class="actionLink" data-bind="click: calculation.addNewRow" style="margin-left: 3px"> @Html.Raw("Add".GetLocalizedText(""))</label>
						@*<img src="~/Content/images/icons/add-product-row.png" alt="" style="float:left; margin:5px;"/>
						<label class="actionLink" data-bind="click: calculation.addNewRow" style="float:left; margin:5px 3px">@Html.Raw("Add".GetLocalizedText(""))</label>*@
					</div>
				</div>
			</div>
		</div>
    </div>

    @*<div data-bind="text: ko.toJSON(viewModel.partnerInput)"></div>*@
    @*<div style="margin-top:100px; clear:both;" data-bind="text: ko.toJSON(viewModel)"></div>*@

</form>

<form id="creditForm" method="post" action="/credit/index">
    <input type="hidden" id="creditData" name="creditData" value="" />
</form>


@section scripts {
<script type="text/javascript">

$(function () {
    $("#calculationParamToggle").click(function () {
        $("#calculationParamWrapper").toggle();
    });
    $("#calculateSpinner").spin("large");
    $("#saveSpinner").spin("small");

    viewModel = initializeViewModel();
});

var viewModel = {};
var inAdvanceMappings = { "true": "ADVANCE", "false": "ARREARS", "ADVANCE": true, "ARREARS": false };

function modulo(value, element, param) {
    return this.optional(element) || value % $(param).val() == 0;
}
jQuery.validator.addMethod("modulo", modulo, jQuery.format("Please enter a value that is divisible by {0}"));

//Init validator
var validator = $("#form").validate({
    onfocusout: false,
    onkeyup: false,
    errorPlacement: function (error, element) {
        toastr.error(error);
    },
    highlight: function (element, errorClass, validClass) {
        $(element).addClass(errorClass).removeClass(validClass);
        $("#" + element.id + "_chzn .chzn-single")
            .addClass(errorClass);
    },
    unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass(errorClass).addClass(validClass);
        $("#" + element.id + "_chzn .chzn-single")
            .removeClass(errorClass);
    },
    rules: {
        customerOfferSelect: {
            required: true
        },
        salesPersonSelect: {
            required: true
        },
        duration: {
            modulo: "#periodLengthSelect"
        },
        inAdvanceSelect: {
            required: true
        },
        periodLengthSelect: {
            required: true
        },
        interestTypeSelect: {
            required: true
        },
        residualClauseSelect: {
            required: true
        },
        salesCommission: {
            min: 0,
            digits: true
        }
    },
    messages: {
        customerOfferSelect: {
            required: "@Html.Raw("ValidationErrorCustomerOfferRequired".GetLocalizedText(""))"
        },
        salesPersonSelect: {
            required: "@Html.Raw("ValidationErrorSalesPersonRequired".GetLocalizedText(""))"
        },
        duration: {
            modulo: "@Html.Raw("ValidationErrorDurationInvalidWithPeriodLength".GetLocalizedText(""))"
        },
        inAdvanceSelect: {
            required: "@Html.Raw("ValidationErrorBillingRequired".GetLocalizedText(""))"
        },
        periodLengthSelect: {
            required: "@Html.Raw("ValidationErrorPeriodLengthRequired".GetLocalizedText(""))"
        },
        interestTypeSelect: {
            required: "@Html.Raw("ValidationErrorInterestTypeRequired".GetLocalizedText(""))"
        },
        residualClauseSelect: {
            required: "@Html.Raw("ValidationErrorResidualClauseRequired".GetLocalizedText(""))"
        },
        salesCommission: {
            min: "@Html.Raw("ValidationErrorSalesCommissionMin".GetLocalizedText(""))",
            max: "@Html.Raw("ValidationErrorSalesCommissionMax".GetLocalizedText(""))",
            digits: "@Html.Raw("ValidationErrorSalesCommissionDigits".GetLocalizedText(""))"
        },
        rowType: {
            required: "@Html.Raw("ValidationErrorProductTypeRequired".GetLocalizedText(""))"
        },
        rowProduct: {
            required: "@Html.Raw("ValidationErrorProductNameRequired".GetLocalizedText(""))"
        },
        rowQuantity: {
            required: "@Html.Raw("ValidationErrorProductQuantityRequired".GetLocalizedText(""))",
            digits: "@Html.Raw("ValidationErrorProductQuantityDigits".GetLocalizedText(""))",
            min: "@Html.Raw("ValidationErrorProductQuantityMin".GetLocalizedText(""))"
        },
        rowSpecification: {
            required: "@Html.Raw("ValidationErrorProductSpecificationRequired".GetLocalizedText(""))",
            maxlength: "@Html.Raw("ValidationErrorProductSpecificationMaxLength".GetLocalizedText(""))"
        },
        rowPrice: {
            required: "@Html.Raw("ValidationErrorProductPriceRequired".GetLocalizedText(""))",
            digits: "@Html.Raw("ValidationErrorProductPriceDigits".GetLocalizedText(""))",
            min: "@Html.Raw("ValidationErrorProductPriceMin".GetLocalizedText(""))"
        }

        
    }
});
//Make sure selects hidden by "chosen" plugin does become validated
validator.settings.ignore += ':not(.chzn-done)'


var productRow = function () {
    var self = this;
    
    self.type = ko.observable();
    self.selectedTypeID = ko.observable();
    self.selectedTypeID.subscribe(function (newValue) {
        self.type(viewModel.getSection(newValue));
        viewModel.calculation.calculate();
    });
    self.productName = ko.observable();
    self.quantity = ko.observable(1);
    self.quantity.subscribe(function (newValue) {
        viewModel.calculation.calculate();
    });

    self.price = ko.observable(1);
    self.price.subscribe(function (newValue) {
        viewModel.calculation.calculate();
    });
    self.specification = ko.observable();

    self.getOutput = function () {
        return { "productName": self.productName(), "quantity": self.quantity(), "price": self.price(), "specification": self.specification() };
    }

    // Whenever the category changes, reset the product selection
    self.type.subscribe(function () {
        self.productName(undefined);
    });
};

var calculation = function () {
    var self = this;

    //XMLHTTPRequest object for aborting previous calls
    self.calculateXhr;
    self.saveXhr;

    self.duration = ko.observable();
    self.inAdvance = ko.observable();
    self.interestType = ko.observable();
    self.issueFee = ko.observable();
    self.periodLength = ko.observable();
    self.residualClause = ko.observable();
    self.salesCommission = ko.observable();
    self.smeFinancing = ko.observable();
    self.periodFeeRate = ko.observable();

    self.productRows = ko.observableArray([]);
    
    self.addNewRow = function () {
        var row = new productRow()
        
        self.productRows.push(row);
        var rowNumber = self.productRows().length - 1;
        $('.rowType:last')
            .rules("add", {
                required: true
            });
        $('.rowProduct:last')
            .rules("add", {
                required: true //Changed 2018-01-23 by M.S                
            });
        $('.rowQuantity:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 1
            });
        $('.rowSpecification:last')
            .rules("add", {
                required: {
                    depends: function () {
                        var val = $(".rowProduct[name=rowProduct" + rowNumber + "]").val();
                        return val == "" || val == null;
                    }
                }
            });
        $('.rowPrice:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 30
            });

        return row;
    };


    self.addRow = function (row) {
        self.productRows.push(row);
        var rowNumber = self.productRows().length - 1;
        $('.rowType:last')
            .rules("add", {
                required: true
            });
        $('.rowProduct:last')
            .rules("add", {
                required: true //Changed 2018-01-23 by M.S                
            });
        $('.rowQuantity:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 1
            });
        $('.rowSpecification:last')
            .rules("add", {
                required: {
                    depends: function () {
                        var val = $(".rowProduct[name=rowProduct" + rowNumber + "]").val();
                        return val == "" || val == null;
                    }
                }
            });
        $('.rowPrice:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 30
            });
    }

    self.deleteRow = function (row) {
        self.productRows.remove(row);
        viewModel.calculation.calculate();
    };

    self.getProductRowsBySection = function (section) {
        var returnRows = [];
        var rows = self.productRows();
        for (var i = 0; i < rows.length; i += 1) {
            var type = rows[i].type();
            if (type) {
                if (type.sectionID() == section) {
                    returnRows.push(rows[i].getOutput());
                }
            }
        }
        return returnRows;
    }

    self.getOutput = function () {
        var message = {};
        message.customerOfferKey = viewModel.selectedCustomerOfferKey();
        message.externalSalesPerson = viewModel.salesPerson() ? viewModel.salesPerson().fullName() : "";

        if (viewModel.dealID()) {
            message.dealID = viewModel.dealID();
            message.externalRefNo = "";
        } else {
            message.dealID = "";
            message.externalRefNo = viewModel.externalReference();
        }

        message.calculationData = {};
        message.calculationData.smeFinancing = viewModel.calculation.smeFinancing();
        message.calculationData.noOfEmployees = viewModel.calculation.noOfEmployees();

        var rows = self.getProductRowsBySection('HW');
        if (rows.length > 0) {
            message.calculationData.HW = rows;
        }
        rows = self.getProductRowsBySection('IC');
        if (rows.length > 0) {
            message.calculationData.IC = rows;
        }
        rows = self.getProductRowsBySection('LF');
        if (rows.length > 0) {
            message.calculationData.LF = rows;
        }
        rows = self.getProductRowsBySection('SU');
        if (rows.length > 0) {
            message.calculationData.SU = rows;
        }
        rows = self.getProductRowsBySection('LI');
        if (rows.length > 0) {
            message.calculationData.LI = rows;
        }

        message.calculationData.inAdvance = inAdvanceMappings[String(viewModel.calculation.inAdvance())];
        message.calculationData.periodLength = viewModel.calculation.periodLength();
        message.calculationData.duration = viewModel.calculation.duration();
        message.calculationData.interestType = viewModel.calculation.interestType();
        message.calculationData.salesCommission = viewModel.calculation.salesCommission() ? viewModel.calculation.salesCommission() : 0;
        message.calculationData.residualClause = viewModel.calculation.residualClause();

        return message;
    }

    self.updateHardwarePriceFromPeriodFee = function(oldPeriodFee, newPeriodFee) {

        //Calculate difference in financed amount
        var oldFinancedAmount = viewModel.calculationResult().financedAmount;
        var newFinancedAmount = newPeriodFee / self.periodFeeRate();
        var deltaFinancedAmount = newFinancedAmount - oldFinancedAmount;

        //Filter out only hardware rows
        var rows = viewModel.calculation.productRows().filter(function(item) {
            var sectionId = item.type().sectionID();
            if(sectionId == "HW" || sectionId == "HWM") {
                return true;
            }
            else return false;
        });

        //Get total number of hardware products
        totalQuantity = 0;
        rows.forEach(function(item) {
            totalQuantity = totalQuantity + item.quantity();
        });

        //Calculate total amount to add for each product
        var addedPricePerProduct = Math.floor(deltaFinancedAmount / totalQuantity);
        var addedPricePerProductRemainder = Math.round(deltaFinancedAmount % totalQuantity);

        //Pause update functionality to set new price for each product and calculate
        viewModel.dontCalculate(true);
        rows.forEach(function(item) {
            item.price(parseInt(item.price()) + addedPricePerProduct);
        });
        rows[0].price(rows[0].price() + addedPricePerProductRemainder);
        viewModel.dontCalculate(false);
        viewModel.calculation.calculate();
    }

    self.calculate = function () {

        if (viewModel.loadComplete() && !viewModel.dontCalculate()) {
            
            var message = self.getOutput();
            var valid = $('#form').validate().checkForm();
            if (valid) {
                $("#save-button").prop("disabled", true);

                $(".infoBoxContent").hide("slide", { direction: "up" }, function() {
                    //Slide done
                    $("#calculateSpinner").show();
                });
                
                if (self.calculateXhr && self.calculateXhr.readyState != 4) {
                    self.calculateXhr.abort();
                }
                self.calculateXhr = $.ajax({
                    url: '/api/entre/calculate',
                    data: JSON.stringify(message)
                })
                .done(function (result) {
                    if (result.code != 0) {
                        ajaxError(result.message);
                        $("#calculateSpinner").hide();
                        $("#save-button").prop("disabled", false);
                    }
                    else {
                        viewModel.calculationResult(result.body);
                        viewModel.calculation.periodFeeRate(viewModel.calculationResult().periodFee / viewModel.calculationResult().financedAmount);
                        $("#calculateSpinner").hide();
                        $("#save-button").prop("disabled", false);
                        $(".infoBoxContent").show("slide", { direction: "up" });
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (textStatus !== 'abort') {
                        $("#calculateSpinner").hide();
                        $("#save-button").prop("disabled", false);
                    }
                });
            }
            else
            {
                $(".infoBoxContent").hide("slide", { direction: "up" });
            }

        }
    }

    self.save = function () {
        if (!self.saveXhr && !viewModel.dontCalculate()) {
            var message = self.getOutput();
            var valid = $('#form').validate().form();
            if (valid) {
                $("#save-button").prop("disabled", true);
                $("#saveSpinner").show();

                self.saveXhr = $.ajax({
                    url: '/api/entre/saveCalculation',
                    data: JSON.stringify(message),
                    success: function (result) {
                        if (result.code != 0) {
                            ajaxError(result.message);
                            $("#saveSpinner").hide();
                        }
                        else {
                            viewModel.dealID(result.body.dealID);
                            $('#creditData').val(getCreditData());
                            $('#creditForm').submit();
                        }
                    }
                })
                .fail(function () {
                    self.saveXhr = null;
                    $("#saveSpinner").hide();
                });
            }
        }
    }

    
}

var getCreditData = function () {
    var data = {};
    data.dealID = viewModel.dealID();
    data.externalReference = viewModel.externalReference();
    data.financedAmount = viewModel.calculationResult().financedAmount;
    data.duration = viewModel.calculation.duration();
    data.customerOfferName = viewModel.customerOffer().name();
    data.salesPersonName = viewModel.salesPerson().fullName();
    data.sendCreditRequest = viewModel.partnerInput.sendCreditRequest();
    data.customerOrgNo = viewModel.partnerInput.customerOrgNo();

    if (viewModel.previousVersion()) {
        var previousCustomer = ko.utils.unwrapObservable(viewModel.previousVersion().customer)
        if (previousCustomer.organizationNo() != "") {
            var customer = {};
            customer.organizationNo = previousCustomer.organizationNo()
            customer.customerName = previousCustomer.customerName()
            customer.coName = previousCustomer.coName()
            customer.postalAddress = previousCustomer.postalAddress()
            customer.city = previousCustomer.city()
            customer.zipCode = previousCustomer.zipCode()
            data.customer = customer;
        }
    }

    var s = JSON.stringify(data);
    return s;
}

var calculationResult = function () {
    var self = this;

    self.periodLength = ko.observable();
    self.financedAmount = ko.observable();
    self.periodFee = ko.observable();
    self.insuranceFee = ko.observable();
    self.residualValue = ko.observable();
    self.extensionFee = ko.observable();
    self.serviceFee = ko.observable();
    self.accServiceFees = ko.observable();
}

function initializeViewModel() {

    var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));

    viewModel.calculation = new calculation();
    viewModel.calculationResult = ko.observable(new calculationResult());
    viewModel.previousVersion = ko.observable();
    viewModel.loadComplete = ko.observable();
    viewModel.dontCalculate = ko.observable(true);
    viewModel.currencyWithPeriod = ko.computed(function () {
        var co = ko.utils.unwrapObservable(viewModel.customerOffer);
        var result = ko.utils.unwrapObservable(viewModel.calculationResult);
        if (co && result) {
            return co.currency() + "/" + viewModel.getPeriodLengthText(result.periodLength);
        } else {
            return "";
        }
    });
    viewModel.currencyWithMonth = ko.computed(function () {
        var co = ko.utils.unwrapObservable(viewModel.customerOffer);
        var result = ko.utils.unwrapObservable(viewModel.calculationResult);
        if (co && result) {
            return co.currency() + "/" + viewModel.getPeriodLengthText(1);
        } else {
            return "";
        }
    });

    viewModel.getPeriodLengthText = function (periodLength) {
        return {
            1: '@Html.Raw("Month".GetLocalizedText(""))',
            3: '@Html.Raw("Quarter".GetLocalizedText(""))',
            6: '@Html.Raw("SixMonths".GetLocalizedText(""))',
            12: '@Html.Raw("Year".GetLocalizedText(""))'
        }[periodLength];
    }

    viewModel.mapInAdvanceOptions = function (arr) {
        newArr = [];
        for (var i = 0; i < arr.length; i = i + 1) {
            var newVal = inAdvanceMappings[arr[i]];
            newArr.push(newVal);
        }
        return newArr;
    }

    viewModel.getDurationOptions = function () {
        var validOptions = [];
        var periodLength = Number(ko.utils.unwrapObservable(viewModel.calculation.periodLength));
        var options = ko.utils.unwrapObservable(viewModel.customerOffer().duration.options);
        for (var i = 0; i < options.length; i = i + 1) {
            if (Number(options[i]) % periodLength === 0) {
                validOptions.push(options[i]);
            }
        }
        return validOptions;
    }

    viewModel.getSection = function (sectionID) {
        var sections = viewModel.customerOffer().sectionProducts();
        for (var i = 0; i < sections.length; i = i + 1) {
            if (sections[i]["sectionID"]() == sectionID) {
                return sections[i];
            }
        }
        return null;
    }

    viewModel.getProducts = function (sectionID) {
        var section = viewModel.getSection(sectionID);
        if (section != null) {
            return section.products();
        }
        return null;
    }

    viewModel.getSalesPersonByEmail = function (email) {
        for (var i = 0; i < viewModel.salesPersons().length; i += 1) {
            var salesPerson = viewModel.salesPersons()[i];
            if (salesPerson.emailAddress() === email) {
                return salesPerson;
            }
        }
    }

    viewModel.getDealByReferenceNo = function (externalReference) {
        return $.ajax({
            url: '/api/entre/getDealByReferenceNo',
            data: JSON.stringify({ externalRefNo: externalReference }),
        });
    }

    viewModel.getPartnerData = function () {
        return $.ajax({
            url: '/api/entre/getpartnerdata',
            data: {},
        });
    }

    viewModel.setCalculationOptions = function () {
        //SET IN ADVANCE
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["inAdvance"]) != null) {
            if (viewModel.customerOffer().inAdvance.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(inAdvanceMappings[viewModel.partnerInput.billing()], viewModel.customerOffer().inAdvance.options()) !== -1) {
                        viewModel.calculation.inAdvance(viewModel.partnerInput.billing());
                    }
                }
                $("#inAdvanceSelect").prop("disabled", false);
                $("#inAdvanceSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.inAdvance(inAdvanceMappings[viewModel.customerOffer().inAdvance.value()]);
                $("#inAdvanceSelect").prop("disabled", "disabled");
                $("#inAdvanceSelect").trigger("liszt:updated");
            }
        }

        //SET DURATION
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["duration"]) != null) {
            if (viewModel.customerOffer().duration.editable()) {
                if ($.inArray(viewModel.partnerInput.duration(), viewModel.customerOffer().duration.options()) !== -1) {
                    viewModel.calculation.duration(viewModel.partnerInput.duration());
                }
            } else {
                viewModel.calculation.duration(viewModel.customerOffer().duration.value());
            }
        }

        //SET INTEREST TYPE
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["interestType"]) != null) {
            if (viewModel.customerOffer().interestType.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(viewModel.partnerInput.interestType(), viewModel.customerOffer().interestType.options()) !== -1) {
                        viewModel.calculation.interestType(viewModel.partnerInput.interestType());
                    }
                }
                $("#interestTypeSelect").prop("disabled", false);
                $("#interestTypeSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.interestType(viewModel.customerOffer().interestType.value());
                $("#interestTypeSelect").prop("disabled", "disabled");
                $("#interestTypeSelect").trigger("liszt:updated");
            }
        }

        //SET PERIOD LENGTH
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["periodLength"]) != null) {
            if (viewModel.customerOffer().periodLength.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(viewModel.partnerInput.periodLength(), viewModel.customerOffer().periodLength.options()) !== -1) {
                        viewModel.calculation.periodLength(viewModel.partnerInput.periodLength());
                    }
                }
                $("#periodLengthSelect").prop("disabled", false);
                $("#periodLengthSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.periodLength(viewModel.customerOffer().periodLength.value());
                $("#periodLengthSelect").prop("disabled", "disabled");
                $("#periodLengthSelect").trigger("liszt:updated");
            }
        }

        //SET RESIDUAL CLAUSE
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["residualClause"]) != null) {
            if (viewModel.customerOffer().residualClause.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(viewModel.partnerInput.residualClause(), viewModel.customerOffer().residualClause.options()) !== -1) {
                        viewModel.calculation.residualClause(viewModel.partnerInput.residualClause());
                    }
                }
                $("#residualClauseSelect").prop("disabled", false);
                $("#residualClauseSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.residualClause(viewModel.customerOffer().residualClause.value());
                $("#residualClauseSelect").prop("disabled", "disabled");
                $("#residualClauseSelect").trigger("liszt:updated");
            }
        } else {
            viewModel.calculation.residualClause(null);
        }

        //SET SALES COMMISSION
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["salesCommissionMax"]) != null) {
            if (!viewModel.loadComplete()) {
                if (viewModel.customerOffer().salesCommissionMax() >= viewModel.partnerInput.salesCommission()) {
                    viewModel.calculation.salesCommission(viewModel.partnerInput.salesCommission());
                }
            } else {
                if (viewModel.customerOffer().salesCommissionMax() < viewModel.calculation.salesCommission()) {
                    viewModel.calculation.salesCommission(0);
                }
            }
        }
    }

    //If validation os dependant on a customer offer value it needs to be updated in this function
    viewModel.updateValidation = function () {
        //Sales commission is dependant on a customer offer value, but in Entré it is really a partner value so it will never really changein one session.
        if ($("#salesCommission").length > 0) {
            $("#salesCommission").rules("remove", "max")
            $("#salesCommission").rules("add", {
                max: viewModel.customerOffer().salesCommissionMax()
            })
        }
    }

    viewModel.updateCustomerOffer = function (customerOfferKey) {
        viewModel.dontCalculate(true);
        viewModel.updateValidation();
        viewModel.setCalculationOptions();
        viewModel.dontCalculate(false);
        viewModel.calculation.calculate();
    }

    viewModel.populatePartnerData = function (result) {

        viewModel.customerOffers = ko.mapping.fromJS(result.body.customerOffers);

        viewModel.selectedCustomerOfferKey = ko.observable();
        viewModel.selectedCustomerOfferKey.subscribe(function (newValue) {
            ko.utils.arrayForEach(viewModel.customerOffers(), function (item) {
                if (item.key() === viewModel.selectedCustomerOfferKey()) {
                    viewModel.customerOffer(item);
                }
            });
        });
        viewModel.selectedCustomerOfferKey.subscribe(viewModel.updateCustomerOffer);
        viewModel.selectedCustomerOfferKey(result.body.customerOffers[0].key);

        viewModel.selectedSalesPersonName = ko.observable();
        viewModel.selectedSalesPersonName.subscribe(function (newValue) {
            ko.utils.arrayForEach(viewModel.salesPersons(), function (item) {
                if (item.fullName() === viewModel.selectedSalesPersonName()) {
                    viewModel.salesPerson(item);
                }
            });
        });

        viewModel.salesPersons = ko.mapping.fromJS(result.body.salesPersons);
        //viewModel.salesPerson = ko.observable(viewModel.salesPersons()[0]);
        viewModel.calculation.smeFinancing = ko.observable(0);
        viewModel.smeFinancingEnabled = ko.observable(result.body.smeFinancingEnabled);
        viewModel.calculation.noOfEmployees = ko.observable(0);

        //APPLY BINDINGS TO HTML
        ko.applyBindings(viewModel);

        //SET PARTNER INPUT
        viewModel.externalReference(viewModel.partnerInput.externalReference());
        viewModel.sendCreditRequest(viewModel.partnerInput.sendCreditRequest());
        viewModel.customerOrgNo(viewModel.partnerInput.customerOrgNo());
        if (viewModel.partnerInput.smeFinancing() == true && viewModel.smeFinancingEnabled() == 1)
        {
            viewModel.calculation.smeFinancing(1);
            if(!isNaN(parseInt(viewModel.partnerInput.noOfEmployees())))
            {
                viewModel.calculation.noOfEmployees(viewModel.partnerInput.noOfEmployees());
            }
        }

        viewModel.selectedCustomerOfferKey(viewModel.partnerInput.customerOfferID());
        var sp = viewModel.getSalesPersonByEmail(viewModel.partnerInput.salesPersonEmail());
        if (sp) {
            viewModel.selectedSalesPersonName(sp.fullName());
        }

        //Hook up calculate on events
        //viewModel.selectedCustomerOfferKey.subscribe(function () {
        //    viewModel.calculation.calculate();
        //});
        viewModel.selectedSalesPersonName.subscribe(function () {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.smeFinancing.subscribe(function () {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.noOfEmployees.subscribe(function () {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.inAdvance.subscribe(function () {
            viewModel.calculation.calculate();
        });
        $("#durationSlider").on("slidestop", function (event, ui) {
            viewModel.calculation.calculate();
        });
        $("#duration").on("change", function (event, ui) {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.interestType.subscribe(function() {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.periodLength.subscribe(function() {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.residualClause.subscribe(function() {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.salesCommission.subscribe(function() {
            viewModel.calculation.calculate();
        });
        $("#calculationInfoBox").on("focusin", "#periodFee", function() {
            $(this).data("val", $(this).val());
        });
        $("#calculationInfoBox").on("change", "#periodFee", function() {
            //alert("New value: " + $(this).val());
            //alert("Old value: " + $(this).data("val"));
            viewModel.calculation.updateHardwarePriceFromPeriodFee($(this).data("val"), $(this).val());
        });

        for (var i = 0; i < viewModel.partnerInput.products().length; i += 1) {
            var row = new productRow();
            var product = viewModel.partnerInput.products()[i];
            var sectionID = product.type();
            var section = viewModel.getSection(sectionID)
            if (section) {
                row.selectedTypeID(sectionID);
                var products = viewModel.getProducts(sectionID);
                var name = product.name();
                if ($.inArray(name, products) !== -1) {
                    row.productName(name);
                }
            }
            row.specification(product.specification());
            row.quantity(product.quantity());
            row.price(product.price());
            viewModel.calculation.addRow(row);
        }
    }

    viewModel.onLoadComplete = function (response) {

        $("#pageLoadSpinner").spin(false);
        $("#save-button").prop("disabled", false);
        $("#form").show();//"slide", {direction: "up"});
        viewModel.loadComplete(true);
        viewModel.dontCalculate(false);

        if (viewModel.previousVersion()) {
            viewModel.showDialog();
            viewModel.calculation.calculate();
        } else {
            if (viewModel.partnerInput.sendCreditRequest()) {
                viewModel.calculation.save();
            }
            else {
                viewModel.calculation.calculate();
            }
        }
    }

    viewModel.onLoadFail = function (response) {
        //toastr.error("Failed to load Entré data!");
        $("#pageLoadSpinner").spin(false);
        $("#loadError").show();
    }

    $("#pageLoadSpinner").spin("pageload");
    $("#save-button").prop("disabled", true);
    viewModel.getPartnerData()
    .then(
        //SUCCESS
        function (result) {
            if (result) {
                if (result.code != 0) {
                    viewModel.onLoadFail();
                } else {
                    $.when(viewModel.populatePartnerData(result))
                    .then(
                        //SUCCESS
                        viewModel.getDealByReferenceNo(viewModel.partnerInput.externalReference())
                        .then(
                            //SUCCESS
                            function (result) {
                                if (result.code != 0) {
                                    viewModel.onLoadFail();
                                }
                                else {
                                    if (!$.isEmptyObject(result.body)) {
                                        viewModel.previousVersion(ko.mapping.fromJS(result.body));
                                    }
                                    viewModel.onLoadComplete();
                                }
                            },
                            //FAIL
                            viewModel.onLoadFail
                        ),
                        //FAIL
                        viewModel.onLoadFail
                    )
                }
            } else {
                viewModel.onLoadFail();
            }
        },
        //FAIL
        viewModel.onLoadFail
    )

    viewModel.showFullCalculationResult = function () {
        if ($('#form').validate().checkForm()) {
            $("#calculationResultDialog").dialog({
                resizable: false,
                width: 600,
                modal: true,
                dialogClass: "dialogClass",
                closeOnEscape: false,
                buttons: {
                    Ok: function () {
                        $(this).dialog("close");
                    }
                }
            });
        }
    }

    viewModel.showDialog = function () {
        $("#previousVersionDialog").dialog({
            resizable: false,
            width: 500,
            modal: true,
            dialogClass: "dialogClass",
            closeOnEscape: false,
            buttons: {
                "@Html.Raw("CreateNewVersion".GetLocalizedText(""))": function () {
                    $(this).dialog("close");
                    viewModel.dealID(viewModel.previousVersion().dealID().split("-")[0] + "-0")
                    viewModel.externalReference("");
                },
                "@Html.Raw("Exit".GetLocalizedText(""))": function () {
                    $(this).dialog("close");
                    gotoEntre();
                }
            }
        });
    }

    return viewModel;
}



    </script>
}


<div id="calculationResultDialog" title="@Html.Raw("FullCalculationResult".GetLocalizedText(""))">
    <div data-bind="with:calculationResult">
        <div style="float:left">
            <!-- ko if:financedAmount --><label name="financedAmountLabel" id="financedAmountLabel">@Html.Raw("FinancedAmount".GetLocalizedText(""))</label><br /><!-- /ko -->
            <!-- ko if:periodFee --><label name="periodFeeLabel" id="periodFeeLabel">@Html.Raw("PeriodFee".GetLocalizedText(""))</label><br /><!-- /ko -->
            <!-- ko if:insuranceFee --><label name="insuranceFeeLabel" id="insuranceFeeLabel">@Html.Raw("InsuranceFee".GetLocalizedText(""))</label><br /><!-- /ko -->
            <!-- ko if:residualValue --><label name="residualValueLabel" id="residualValueLabel">@Html.Raw("ResidualValue".GetLocalizedText(""))</label><br /><!-- /ko -->
            <!-- ko if:extensionFee --><label name="extensionFeeLabel" id="extensionFeeLabel">@Html.Raw("ExtensionFee".GetLocalizedText(""))</label><br /><!-- /ko -->
            <!-- ko if:serviceFee --><label name="serviceFeeLabel" id="serviceFeeLabel">@Html.Raw("ServiceFee".GetLocalizedText(""))</label><br /><!-- /ko -->
            <!-- ko if:accServiceFees --><label name="accServiceFeesLabel" id="accServiceFeesLabel">@Html.Raw("AccumulatedServiceFees".GetLocalizedText(""))</label><!-- /ko -->
        </div>
        <div style="float:right; text-align:left; margin-right:5px;">
            <!-- ko if:financedAmount --><span data-bind="text: $parent.customerOffer().currency"></span><br /><!-- /ko -->
            <!-- ko if:periodFee --><span data-bind="text: $parent.currencyWithPeriod"></span><br /><!-- /ko -->
            <!-- ko if:insuranceFee --><span data-bind="text: $parent.currencyWithPeriod"></span><br /><!-- /ko -->
            <!-- ko if:residualValue --><span data-bind="text: $parent.customerOffer().currency"></span><br /><!-- /ko -->
            <!-- ko if:extensionFee --><span data-bind="text: $parent.currencyWithPeriod"></span><br /><!-- /ko -->
            <!-- ko if:serviceFee --><span data-bind="text: $parent.currencyWithMonth"></span><br /><!-- /ko -->
            <!-- ko if:accServiceFees --><span data-bind="text: $parent.customerOffer().currency"></span><!-- /ko -->
        </div>
        <div style="float:right; text-align:right; margin-right:5px;">
            <!-- ko if:financedAmount --><span id="financedAmount" data-bind="text: financedAmount"></span><br /><!-- /ko -->
            <!-- ko if:periodFee --><span id="periodFee" data-bind="text: periodFee"></span><br /><!-- /ko -->
            <!-- ko if:insuranceFee --><span id="insuranceFee" data-bind="text: insuranceFee"></span><br /><!-- /ko -->
            <!-- ko if:residualValue --><span id="residualValue" data-bind="text: residualValue"></span><br /><!-- /ko -->
            <!-- ko if:extensionFee --><span id="extensionFee" data-bind="text: extensionFee"></span><br /><!-- /ko -->
            <!-- ko if:serviceFee --><span id="serviceFee" data-bind="text: serviceFee"></span><br /><!-- /ko -->
            <!-- ko if:accServiceFees --><span id="accServiceFees" data-bind="text: accServiceFees"></span><!-- /ko -->
        </div>
        <div style="clear:both"></div>
    </div>
</div>

<div id="previousVersionDialog" title="@Html.Raw("OrderNumberExists".GetLocalizedText(""))" data-bind="with: previousVersion">
    <p>@Html.Raw("PreviousVersionInfoText".GetLocalizedText(""))</p>
    @*<p>Det ordernummer som skickades med finns redan knutet till affär <b><u><span data-bind="text: dealID().split('-')[0] ">89765</span></u></b> som finns i <b><u><span data-bind="text: dealID().split('-')[1]"></span></u></b> version(er) i Entré</p>*@
    <br>
    <p>
        <b class="boldclass">@Html.Raw("Customer".GetLocalizedText(""))</b><br>
        @Html.Raw("OrganizationNo".GetLocalizedText("")): <span data-bind="text: customer.organizationNo"></span>
        <br>
        @Html.Raw("CustomerName".GetLocalizedText("")): <span data-bind="text: customer.customerName"></span>
    </p>
    <br>
    <p>
        <b class="boldclass">@Html.Raw("Deal".GetLocalizedText(""))</b><br>
        @Html.Raw("FinancedAmount".GetLocalizedText("")): <span data-bind="text: calculationResult.financedAmount"></span>
        <br>
        @Html.Raw("Duration".GetLocalizedText("")): <span data-bind="text: calculationData.duration"></span>
        <br>
        @Html.Raw("PeriodFee".GetLocalizedText("")): <span data-bind="text: calculationResult.periodFee"></span>
        <br>
        @Html.Raw("ProductsHeader".GetLocalizedText("")):<br>
        <table width="100%" style="margin-left: 10px; font-size: 10px;">
            <tr>
                <th><b>@Html.Raw("Product".GetLocalizedText(""))</b></th>
                <th><b>@Html.Raw("Specification".GetLocalizedText(""))</b></th>
                <th><b>@Html.Raw("Quantity".GetLocalizedText(""))</b></th>
                <th><b>@Html.Raw("APrice".GetLocalizedText(""))</b></th>
            </tr>
            <!-- ko foreach: calculationData.HW -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.IC -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.LF -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.LI -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.SU -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
        </table>
    </p>
    <br>
    <p>@Html.Raw("PreviousVersionHowToContinueQuestion".GetLocalizedText(""))</p>
    @*<p> Vill du skapa en ny version på denna affär eller avsluta och logga in i Entre för att skapa en helt ny affär?</p>*@
</div>
