﻿@model WebAPITest.Models.CalculationIndexViewModel
@using WebAPITest.Extensions
@{
    ViewBag.Title = "Entré Light - Calculation";
    ViewBag.Progressbar = "progressbar1";
}

<div id="loadError" style="display: none">
    <h2>Failed to load Entré data!</h2>
    <p>
        <h4>Please contact delagelanden for technical support or visit www.delagelandenfinans.se to complete the deal directly in Entré.</h4>
        <p>
            <h4>Debug information:</h4>
            <div style="width: 700px">@Html.Raw(Json.Encode(Model.partnerInput))</div>
        </p>
    </p>
</div>

<form id="calculationForm" style="display: none">
    <div id="top">
        <div id="options">
            <div id="options-unit">
                <h4>@Html.Raw("CustomerOffer".GetLocalizedText(""))</h4>
            </div>
            <div id="options-unit">
                <select id="customerOfferSelect"
                        name="customerOfferSelect"
                        data-bind="options: customerOffers,
                                    optionsText: 'name',
                                    optionsValue: 'key',
                                    value: selectedCustomerOfferKey,
                                    optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                    chosen: {disable_search: true}">
                </select>
            </div>
            <div id="options-unit" style="margin-top: 8px">
                <h4>@Html.Raw("SalesPerson".GetLocalizedText(""))</h4>
            </div>
            <div id="options-unit">
                <select id="salesPersonSelect"
                        name="salesPersonSelect"
                        data-bind="options: salesPersons,
                                    value: selectedSalesPersonName,
                                    optionsValue: 'fullName',
                                    optionsText: 'fullName',
                                    optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                    chosen: {disable_search_threshold: 2}">
                </select>
            </div>
        </div>

        @****************************@
        @**  HYRESSAMMANSTÄLLNING  **@
        @****************************@
        <div id="info-box">
            <div id="info-box-header" class="blue">
                <img src="~/Content/images/icons/rent-compilation.png" alt="" style="float: left; margin: 5px 5px 5px 20px;" />
                <h1>@Html.Raw("CalculationResultHeader".GetLocalizedText(""))</h1>
                <div id="calculateSpinner" style="color:white; margin: 15px 0px 0px 20px;"></div>
                <span id="showFullCalculationResult" data-bind="click: showFullCalculationResult">( @Html.Raw("ShowFullCalculationResult".GetLocalizedText("")) )</span>
            </div>
            <div id="info-box-content" data-bind="with:calculationResult">
                <div data-bind="if: financedAmount">
                    <span style="float: left">@Html.Raw("FinancedAmount".GetLocalizedText(""))</span>
                    <span style="float: right; margin: 0px 0px 0px 5px" data-bind="text: $parent.customerOffer().currency"></span>
                    <span style="float: right" data-bind="text: financedAmount"></span>
                </div>
                <div data-bind="if: periodFee">
                    <span style="float: left">@Html.Raw("PeriodFee".GetLocalizedText(""))</span>
                    <span style="float: right" data-bind="text: $parent.getPeriodLengthText(periodLength)"></span>
                    <span style="float: right">/</span>
                    <span style="float: right; margin: 0px 0px 0px 5px" data-bind="text: $parent.customerOffer().currency"></span>
                    <span style="float: right" data-bind="text: periodFee"></span>
                </div>
                <div data-bind="if: insuranceFee">
                    <span style="float: left">@Html.Raw("InsuranceFee".GetLocalizedText(""))</span>
                    <span style="float: right" data-bind="text: $parent.getPeriodLengthText(periodLength)"></span>
                    <span style="float: right">/</span>
                    <span style="float: right; margin: 0px 0px 0px 5px" data-bind="text: $parent.customerOffer().currency"></span>
                    <span style="float: right" data-bind="text: insuranceFee"></span>
                </div>
                <div data-bind="if: residualValue">
                    <span style="float: left">@Html.Raw("ResidualValue".GetLocalizedText(""))</span>
                    <span style="float: right; margin: 0px 0px 0px 5px" data-bind="text: $parent.customerOffer().currency"></span>
                    <span style="float: right" data-bind="text: residualValue"></span>
                </div>
            </div>
        </div>
        <a href="#" data-bind="click: calculation.save">
            <div id="save-button" class="green">
                <div id="savenow"><span>@Html.Raw("Save".GetLocalizedText(""))</span></div>
                <div id="saveSpinner" style="display:none; color:white; margin: 22px 0px 0px 8px; width:25px"></div>
            </div>
        </a>
    </div>

    @***************************@
    @**  BERÄKNINGSUPPGIFTER  **@
    @***************************@
    <div id="middle">
        <img src="~/Content/images/icons/calc-options.png" style="float: left; margin: 4px 8px;" alt="" />
        <h2>@Html.Raw("CalculationParameters".GetLocalizedText(""))</h2>
        <img id="calculationParamToggle" src="/Content/images/icons/collapse-button.png" style="float: left; margin: 6px 0px 0px 20px;" alt="" />
        <div id="wrapper">
            <div id="unit">
                <h4>@Html.Raw("Duration".GetLocalizedText(""))</h4>
                <input id="duration" class="inputText" data-bind="value: calculation.duration" />
                <div id="durationSlider"
                    data-bind="fixedValuesSlider: calculation.duration,
                                sliderOptions: {
                                    min: 0,
                                    max: customerOffer().duration.options().length - 1,
                                    range: 'min',
                                    step: 1
                                },
                                customOptions: {
                                    values: customerOffer().duration.options
                                }">
                </div>
            </div>
            <div id="unit">
                <h4>@Html.Raw("PeriodLength".GetLocalizedText(""))</h4>
                <select id="periodLengthSelect"
                        name="periodLengthSelect"
                        data-bind=" options: customerOffer().periodLength.options,
                                    value: calculation.periodLength,
                                    optionsText: getPeriodLengthText,
                                    optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                    chosen: {disable_search: true}">
                </select>

            </div>
            <div id="unit">
                <h4>@Html.Raw("Billing".GetLocalizedText(""))</h4>
                <select id="inAdvanceSelect"
                        name="inAdvanceSelect"
                        data-bind=" options: viewModel.mapInAdvanceOptions(customerOffer().inAdvance.options()),
                                    value: calculation.inAdvance,
                                    optionsText: function(item){return {'ADVANCE':'@Html.Raw("BillingOptionAdvance".GetLocalizedText(""))', 'ARREARS':'@Html.Raw("BillingOptionArrears".GetLocalizedText(""))'}[item]},
                                    optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                    chosen: {disable_search: true}">
                </select>
            </div>
            <div id="unit">
                <h4>@Html.Raw("InterestType".GetLocalizedText(""))</h4>
                <select id="interestTypeSelect"
                        name="interestTypeSelect"
                        data-bind=" options: customerOffer().interestType.options,
                                    value: calculation.interestType,
                                    optionsText: function(item){return {'FLEXIBLE':'@Html.Raw("InterestTypeOptionFlexible".GetLocalizedText(""))', 'FIXED':'@Html.Raw("InterestTypeOptionFixed".GetLocalizedText((string)ViewBag.ViewName))'}[item]},
                                    optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                    chosen: {disable_search: true}">
                </select>
            </div>
            <!-- ko if: customerOffer().residualClause -->
            <div id="unit">
                <h4>@Html.Raw("ResidualClause".GetLocalizedText(""))</h4>
                <select id="residualClauseSelect"
                        name="residualClauseSelect"
                        data-bind=" options: customerOffer().residualClause.options,
                                    value: calculation.residualClause,
                                    optionsText: function(item){return {'NONE':'@Html.Raw("ResidualClauseOptionNone".GetLocalizedText(""))', 'COMPELLED':'@Html.Raw("ResidualClauseOptionCompelled".GetLocalizedText((string)ViewBag.ViewName))'}[item]},
                                    optionsCaption: '@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))',
                                    chosen: {disable_search: true}">
                </select>
            </div>
            <!-- /ko -->
            <!-- ko if: customerOffer().salesCommissionMax -->
            <div id="unit">
                <h4>@Html.Raw("SalesCommission".GetLocalizedText(""))</h4>
                <input type="text"
                    class="inputText"
                    style="width: 50px; background-image: url('/Content/images/percent.PNG'); background-repeat: no-repeat; background-position: right center;"
                    id="salesCommission"
                    name="salesCommission"
                    data-bind="value: calculation.salesCommission" />
            </div>
            <!-- /ko -->
        </div>
    </div>

    @********************@
    @**  PRODUKTRADER  **@
    @********************@
    <div id="bottom">
        <img src="~/Content/images/icons/products.png" style="float: left; margin: 4px 8px;" alt="" />
        @*<div style="float:left;margin:4px 8px;width:21px;height:21px;" class="blue"></div>*@
        <h2>@Html.Raw("Products".GetLocalizedText(""))</h2>
        <div id="wrapper">
            <table id="productTable">
                <thead>
                    <tr>
                        <th id="productTypeHeader">@Html.Raw("ProductType".GetLocalizedText(""))</th>
                        <th id="productNameHeader">@Html.Raw("Product".GetLocalizedText(""))</th>
                        <th id="productSpecificationHeader">@Html.Raw("Specification".GetLocalizedText(""))</th>
                        <th id="productQuantityHeader">@Html.Raw("Quantity".GetLocalizedText(""))</th>
                        <th id="productPriceHeader">@Html.Raw("APrice".GetLocalizedText(""))</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody data-bind='foreach: calculation.productRows'>
                    <tr class="productRow">
                        <td>
                            <select class='rowType' data-bind='attr: {name: "rowType" + $index()}, options: $parent.customerOffer().sectionProducts, optionsValue: "sectionID", optionsText: "sectionName", optionsCaption: "@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))", value: selectedTypeID, chosen: {disable_search: true}'></select>
                        </td>
                        <td>@* data-bind="with: type">*@
                            <select class='rowProduct' data-bind='attr: {name: "rowProduct" + $index()}, options: type() ? type().products : "", optionsCaption: "@Html.Raw("DropDownDefaultValue".GetLocalizedText(""))", value: productName, chosen: {disable_search: true}'></select>
                        </td>
                        <td>
                            <input class='rowSpecification inputText' data-bind='attr: {name: "rowSpecification" + $index()}, value: specification' />
                        </td>
                        <td>
                            <input style="width: 40px;" class='rowQuantity' data-bind='attr: {name: "rowQuantity" + $index()}, spinner: quantity' />
                        </td>
                        <td>
                            <input class='rowPrice inputText' data-bind='attr: {name: "rowPrice" + $index()}, value: price' />
                        </td>
                        <td>
                            <a href='#' data-bind='click: $parent.calculation.deleteRow'>@Html.Raw("Remove".GetLocalizedText(""))</a>
                        </td>
                    </tr>
                </tbody>
            </table>
            <img src="~/Content/images/icons/add-product-row.png" style="clear: left; float: left; margin: 4px 3px;" alt="" />
            @*<div class="green" style="clear:left;float:left;margin:4px 3px;width:22px;height:22px;"></div>*@
            <a style="margin-top:4px" href="#" data-bind="click: calculation.addNewRow">@Html.Raw("Add".GetLocalizedText(""))</a>
        </div>
    </div>


    <div style="clear: both"></div>

    @*<div style="margin-top: 100px; clear: both;">Partner input</div>*@
    @*<div data-bind="text: ko.toJSON(viewModel.partnerInput)"></div>*@
    @*<div style="margin-top:100px; clear:both;" data-bind="text: ko.toJSON(viewModel)"></div>*@
    @*<div style="margin-top:100px; clear:both;" data-bind="text: ko.toJSON(viewModel.calculation.productRows)"></div>*@
    @*<div style="margin-top:100px; clear:both;" data-bind="text: ko.toJSON(viewModel.previousVersion)"></div>*@

</form>

<form id="creditForm" method="post" action="/credit/index">
    <input type="hidden" id="creditData" name="creditData" value="" />
</form>


@section scripts {
<script type="text/javascript">

$(function () {
    $("#calculationParamToggle").click(function () {
        $("#middle #wrapper").toggle();
    });
    $("#saveSpinner").spin("small");

    viewModel = initializeViewModel();
});

var viewModel = {};
var inAdvanceMappings = { "true": "ADVANCE", "false": "ARREARS", "ADVANCE": true, "ARREARS": false };

//Init validator
var validator = $("#calculationForm").validate({
    onfocusout: false,
    onkeyup: false,
    errorPlacement: function (error, element) {
        toastr.error(error);
    },
    highlight: function (element, errorClass, validClass) {
        $(element).addClass(errorClass).removeClass(validClass);
        $("#" + element.id + "_chzn .chzn-single")
            .addClass(errorClass);
    },
    unhighlight: function (element, errorClass, validClass) {
        $(element).removeClass(errorClass).addClass(validClass);
        $("#" + element.id + "_chzn .chzn-single")
            .removeClass(errorClass);
    },
    rules: {
        customerOfferSelect: {
            required: true
        },
        salesPersonSelect: {
            required: true
        },
        inAdvanceSelect: {
            required: true
        },
        periodLengthSelect: {
            required: true
        },
        interestTypeSelect: {
            required: true
        },
        residualClauseSelect: {
            required: true
        },
        salesCommission: {
            min: 0,
            digits: true
        }
    },
    messages: {
        customerOfferSelect: {
            required: "@Html.Raw("ValidationErrorCustomerOfferRequired".GetLocalizedText(""))"
        },
        salesPersonSelect: {
            required: "@Html.Raw("ValidationErrorSalesPersonRequired".GetLocalizedText(""))"
        },
        inAdvanceSelect: {
            required: "@Html.Raw("ValidationErrorBillingRequired".GetLocalizedText(""))"
        },
        periodLengthSelect: {
            required: "@Html.Raw("ValidationErrorPeriodLengthRequired".GetLocalizedText(""))"
        },
        interestTypeSelect: {
            required: "@Html.Raw("ValidationErrorInterestTypeRequired".GetLocalizedText(""))"
        },
        residualClauseSelect: {
            required: "@Html.Raw("ValidationErrorResidualClauseRequired".GetLocalizedText(""))"
        },
        salesCommission: {
            min: "@Html.Raw("ValidationErrorSalesCommissionMin".GetLocalizedText(""))",
            max: "@Html.Raw("ValidationErrorSalesCommissionMax".GetLocalizedText(""))",
            digits: "@Html.Raw("ValidationErrorSalesCommissionDigits".GetLocalizedText(""))"
        },
        rowType: {
            required: "@Html.Raw("ValidationErrorProductTypeRequired".GetLocalizedText(""))"
        },
        rowProduct: {
            required: "@Html.Raw("ValidationErrorProductNameRequired".GetLocalizedText(""))"
        },
        rowQuantity: {
            required: "@Html.Raw("ValidationErrorProductQuantityRequired".GetLocalizedText(""))",
            digits: "@Html.Raw("ValidationErrorProductQuantityDigits".GetLocalizedText(""))",
            min: "@Html.Raw("ValidationErrorProductQuantityMin".GetLocalizedText(""))"
        },
        rowSpecification: {
            required: "@Html.Raw("ValidationErrorProductSpecificationRequired".GetLocalizedText(""))",
            maxlength: "@Html.Raw("ValidationErrorProductSpecificationMaxLength".GetLocalizedText(""))"
        },
        rowPrice: {
            required: "@Html.Raw("ValidationErrorProductPriceRequired".GetLocalizedText(""))",
            digits: "@Html.Raw("ValidationErrorProductPriceDigits".GetLocalizedText(""))",
            min: "@Html.Raw("ValidationErrorProductPriceMin".GetLocalizedText(""))"
        }
    }
});
//Make sure selects hidden by "chosen" plugin does become validated
validator.settings.ignore += ':not(.chzn-done)'


var productRow = function () {
    var self = this;

    self.type = ko.observable();
    self.selectedTypeID = ko.observable();
    self.selectedTypeID.subscribe(function (newValue) {
        self.type(viewModel.getSection(newValue));
        viewModel.calculation.calculate();
    });
    self.productName = ko.observable();
    self.quantity = ko.observable(1);
    self.quantity.subscribe(function (newValue) {
        viewModel.calculation.calculate();
    });
    self.price = ko.observable(1);
    self.price.subscribe(function (newValue) {
        viewModel.calculation.calculate();
    });
    self.specification = ko.observable();

    self.getOutput = function () {
        return { "productName": self.productName(), "quantity": self.quantity(), "price": self.price(), "specification": self.specification() };
    }

    // Whenever the category changes, reset the product selection
    self.type.subscribe(function () {
        self.productName(undefined);
    });
};

var calculation = function () {
    var self = this;

    //XMLHTTPRequest object for aborting previous calls
    self.calculateXhr;
    self.saveXhr;

    self.duration = ko.observable();
    self.inAdvance = ko.observable();
    self.interestType = ko.observable();
    self.issueFee = ko.observable();
    self.periodLength = ko.observable();
    self.residualClause = ko.observable();
    self.salesCommission = ko.observable();

    self.productRows = ko.observableArray([]);

    self.addNewRow = function () {
        var row = new productRow()
        self.productRows.push(row);
        var rowNumber = self.productRows().length - 1;
        $('.rowType:last')
            .rules("add", {
                required: true
            });
        $('.rowProduct:last')
            .rules("add", {
                required: {
                    depends: function () {
                        var val = $(".rowSpecification[name=rowSpecification" + rowNumber + "]").val();
                        return val == "";
                    }
                }
            });
        $('.rowQuantity:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 1
            });
        $('.rowSpecification:last')
            .rules("add", {
                required: {
                    depends: function () {
                        var val = $(".rowProduct[name=rowProduct" + rowNumber + "]").val();
                        return val == "" || val == null;
                    }
                }
            });
        $('.rowPrice:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 30
            });

        return row;
    };

    self.addRow = function (row) {
        self.productRows.push(row);
        var rowNumber = self.productRows().length - 1;
        $('.rowType:last')
            .rules("add", {
                required: true
            });
        $('.rowProduct:last')
            .rules("add", {
                required: {
                    depends: function () {
                        var val = $(".rowSpecification[name=rowSpecification" + rowNumber + "]").val();
                        return val == "";
                    }
                }
            });
        $('.rowQuantity:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 1
            });
        $('.rowSpecification:last')
            .rules("add", {
                required: {
                    depends: function () {
                        var val = $(".rowProduct[name=rowProduct" + rowNumber + "]").val();
                        return val == "" || val == null;
                    }
                }
            });
        $('.rowPrice:last')
            .rules("add", {
                required: true,
                digits: true,
                min: 30
            });
    }
    self.deleteRow = function (row) {
        self.productRows.remove(row);
        viewModel.calculation.calculate();
    };
    self.getProductRowsBySection = function (section) {
        var returnRows = [];
        var rows = self.productRows();
        for (var i = 0; i < rows.length; i += 1) {
            var type = rows[i].type();
            if (type) {
                if (type.sectionID() == section) {
                    returnRows.push(rows[i].getOutput());
                }
            }
        }
        return returnRows;
    }

    self.getOutput = function () {
        var message = {};
        message.customerOfferKey = viewModel.selectedCustomerOfferKey();
        message.externalSalesPerson = viewModel.salesPerson() ? viewModel.salesPerson().fullName() : "";
        if (viewModel.dealID()) {
            message.dealID = viewModel.dealID();
            message.externalRefNo = "";
        } else {
            message.dealID = "";
            message.externalRefNo = viewModel.externalReference();
        }

        message.calculationData = {};
        var rows = self.getProductRowsBySection('HW');
        if (rows.length > 0) {
            message.calculationData.HW = rows;
        }
        rows = self.getProductRowsBySection('IC');
        if (rows.length > 0) {
            message.calculationData.IC = rows;
        }
        rows = self.getProductRowsBySection('LF');
        if (rows.length > 0) {
            message.calculationData.LF = rows;
        }
        rows = self.getProductRowsBySection('SU');
        if (rows.length > 0) {
            message.calculationData.SU = rows;
        }
        rows = self.getProductRowsBySection('LI');
        if (rows.length > 0) {
            message.calculationData.LI = rows;
        }

        message.calculationData.inAdvance = inAdvanceMappings[String(viewModel.calculation.inAdvance())];
        message.calculationData.periodLength = viewModel.calculation.periodLength();
        message.calculationData.duration = viewModel.calculation.duration();
        message.calculationData.interestType = viewModel.calculation.interestType();
        message.calculationData.salesCommission = viewModel.calculation.salesCommission() ? viewModel.calculation.salesCommission() : 0;
        message.calculationData.residualClause = viewModel.calculation.residualClause();

        return message;
    }

    self.calculate = function () {
        if (viewModel.loadComplete() && !viewModel.dontCalculate()) {
            $("#info-box-content").hide("slide", { direction: "up" });
            var message = self.getOutput();
            var valid = $('#calculationForm').validate().checkForm();
            if (valid) {
                $("#calculateSpinner").spin("small");
                if (self.calculateXhr && self.calculateXhr.readyState != 4) {
                    self.calculateXhr.abort();
                }
                self.calculateXhr = $.ajax({
                    url: '/api/entre/calculate',
                    data: JSON.stringify(message)
                })
                .done(function (result) {
                    if (result.code != 0) {
                        ajaxError(result.message);
                        $("#calculateSpinner").spin(false);
                    }
                    else {
                        viewModel.calculationResult(result.body);
                        $("#calculateSpinner").spin(false);
                        $("#info-box-content").show("slide", { direction: "up" });
                    }
                }).fail(function (jqXHR, textStatus, errorThrown) {
                    if (textStatus !== 'abort') {
                        $("#calculateSpinner").spin(false);
                    }
                });
            }
        }
    }

    self.save = function () {
        if (!self.saveXhr && !viewModel.dontCalculate()) {
            var message = self.getOutput();
            var valid = $('#calculationForm').validate().form();
            if (valid) {
                $("#save-button").prop("disabled", true);
                $("#saveSpinner").show();

                self.saveXhr = $.ajax({
                    url: '/api/entre/saveCalculation',
                    data: JSON.stringify(message),
                    success: function (result) {
                        if (result.code != 0) {
                            ajaxError(result.message);
                            $("#saveSpinner").hide();
                        }
                        else {
                            viewModel.dealID(result.body.dealID);
                            $('#creditData').val(getCreditData());
                            $('#creditForm').submit();
                        }
                    }
                })
                .fail(function () {
                    self.saveXhr = null;
                    $("#saveSpinner").hide();
                });
            }
        }
    }
}

var getCreditData = function () {
    var data = {};
    data.dealID = viewModel.dealID();
    data.externalReference = viewModel.externalReference();
    data.financedAmount = viewModel.calculationResult().financedAmount;
    data.duration = viewModel.calculation.duration();
    data.customerOfferName = viewModel.customerOffer().name();
    data.salesPersonName = viewModel.salesPerson().fullName();
    data.sendCreditRequest = viewModel.partnerInput.sendCreditRequest();
    data.customerOrgNo = viewModel.partnerInput.customerOrgNo();

    if (viewModel.previousVersion()) {
        var previousCustomer = ko.utils.unwrapObservable(viewModel.previousVersion().customer)
        if (previousCustomer.organizationNo() != "") {
            var customer = {};
            customer.organizationNo = previousCustomer.organizationNo()
            customer.customerName = previousCustomer.customerName()
            customer.coName = previousCustomer.coName()
            customer.postalAddress = previousCustomer.postalAddress()
            customer.city = previousCustomer.city()
            customer.zipCode = previousCustomer.zipCode()
            data.customer = customer;
        }
    }

    var s = JSON.stringify(data);
    return s;
}

var calculationResult = function () {
    var self = this;

    self.periodLength = ko.observable();
    self.financedAmount = ko.observable();
    self.periodFee = ko.observable();
    self.insuranceFee = ko.observable();
    self.residualValue = ko.observable();
    self.extensionFee = ko.observable();
    self.serviceFee = ko.observable();
    self.accServiceFees = ko.observable();
}

function initializeViewModel() {

    var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));

    viewModel.calculation = new calculation();
    viewModel.calculationResult = ko.observable(new calculationResult());
    viewModel.previousVersion = ko.observable();
    viewModel.loadComplete = ko.observable();
    viewModel.dontCalculate = ko.observable(true);

    viewModel.getPeriodLengthText = function (periodLength) {
        return {
            1: '@Html.Raw("Month".GetLocalizedText(""))',
            3: '@Html.Raw("Quarter".GetLocalizedText(""))',
            6: '@Html.Raw("SixMonths".GetLocalizedText(""))',
            12: '@Html.Raw("Year".GetLocalizedText(""))'
        }[periodLength];
    }

    viewModel.mapInAdvanceOptions = function (arr) {
        newArr = [];
        for (var i = 0; i < arr.length; i = i + 1) {
            var newVal = inAdvanceMappings[arr[i]];
            newArr.push(newVal);
        }
        return newArr;
    }

    viewModel.getSection = function (sectionID) {
        var sections = viewModel.customerOffer().sectionProducts();
        for (var i = 0; i < sections.length; i = i + 1) {
            if (sections[i]["sectionID"]() == sectionID) {
                return sections[i];
            }
        }
        return null;
    }

    viewModel.getProducts = function (sectionID) {
        var section = viewModel.getSection(sectionID);
        if (section != null) {
            return section.products();
        }
        return null;
    }

    viewModel.getSalesPersonByEmail = function (email) {
        for (var i = 0; i < viewModel.salesPersons().length; i += 1) {
            var salesPerson = viewModel.salesPersons()[i];
            if (salesPerson.emailAddress() === email) {
                return salesPerson;
            }
        }
    }

    viewModel.getDealByReferenceNo = function (externalReference) {
        return $.ajax({
            url: '/api/entre/getDealByReferenceNo',
            data: JSON.stringify({ externalRefNo: externalReference }),
        });
    }

    viewModel.getPartnerData = function () {
        return $.ajax({
            url: '/api/entre/getpartnerdata',
            data: {},
        });
    }

    viewModel.setCalculationOptions = function () {
        //SET IN ADVANCE
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["inAdvance"]) != null) {
            if (viewModel.customerOffer().inAdvance.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(inAdvanceMappings[viewModel.partnerInput.billing()], viewModel.customerOffer().inAdvance.options()) !== -1) {
                        viewModel.calculation.inAdvance(viewModel.partnerInput.billing());
                    }
                }
                $("#inAdvanceSelect").prop("disabled", false);
                $("#inAdvanceSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.inAdvance(inAdvanceMappings[viewModel.customerOffer().inAdvance.value()]);
                $("#inAdvanceSelect").prop("disabled", "disabled");
                $("#inAdvanceSelect").trigger("liszt:updated");
            }
        }

        //SET DURATION
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["duration"]) != null) {
            if (viewModel.customerOffer().duration.editable()) {
                if ($.inArray(viewModel.partnerInput.duration(), viewModel.customerOffer().duration.options()) !== -1) {
                    viewModel.calculation.duration(viewModel.partnerInput.duration());
                }
            } else {
                viewModel.calculation.duration(viewModel.customerOffer().duration.value());
            }
        }

        //SET INTEREST TYPE
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["interestType"]) != null) {
            if (viewModel.customerOffer().interestType.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(viewModel.partnerInput.interestType(), viewModel.customerOffer().interestType.options()) !== -1) {
                        viewModel.calculation.interestType(viewModel.partnerInput.interestType());
                    }
                }
                $("#interestTypeSelect").prop("disabled", false);
                $("#interestTypeSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.interestType(viewModel.customerOffer().interestType.value());
                $("#interestTypeSelect").prop("disabled", "disabled");
                $("#interestTypeSelect").trigger("liszt:updated");
            }
        }

        //SET PERIOD LENGTH
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["periodLength"]) != null) {
            if (viewModel.customerOffer().periodLength.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(viewModel.partnerInput.periodLength(), viewModel.customerOffer().periodLength.options()) !== -1) {
                        viewModel.calculation.periodLength(viewModel.partnerInput.periodLength());
                    }
                }
                $("#periodLengthSelect").prop("disabled", false);
                $("#periodLengthSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.periodLength(viewModel.customerOffer().periodLength.value());
                $("#periodLengthSelect").prop("disabled", "disabled");
                $("#periodLengthSelect").trigger("liszt:updated");
            }
        }

        //SET RESIDUAL CLAUSE
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["residualClause"]) != null) {
            if (viewModel.customerOffer().residualClause.editable()) {
                if (!viewModel.loadComplete()) {
                    if ($.inArray(viewModel.partnerInput.residualClause(), viewModel.customerOffer().residualClause.options()) !== -1) {
                        viewModel.calculation.residualClause(viewModel.partnerInput.residualClause());
                    }
                }
                $("#residualClauseSelect").prop("disabled", false);
                $("#residualClauseSelect").trigger("liszt:updated");
            } else {
                viewModel.calculation.residualClause(viewModel.customerOffer().residualClause.value());
                $("#residualClauseSelect").prop("disabled", "disabled");
                $("#residualClauseSelect").trigger("liszt:updated");
            }
        } else {
            viewModel.calculation.residualClause(null);
        }

        //SET SALES COMMISSION
        if (ko.utils.unwrapObservable(viewModel.customerOffer()["salesCommissionMax"]) != null) {
            if (!viewModel.loadComplete()) {
                if (viewModel.customerOffer().salesCommissionMax() >= viewModel.partnerInput.salesCommission()) {
                    viewModel.calculation.salesCommission(viewModel.partnerInput.salesCommission());
                }
            } else {
                if (viewModel.customerOffer().salesCommissionMax() < viewModel.calculation.salesCommission()) {
                    viewModel.calculation.salesCommission(0);
                }
            }
        }
    }

    //If validation os dependant on a customer offer value it needs to be updated in this function
    viewModel.updateValidation = function () {
        //Sales commission is dependant on a customer offer value, but in Entré it is really a partner value so it will never really changein one session.
        if ($("#salesCommission").length > 0) {
            $("#salesCommission").rules("remove", "max")
            $("#salesCommission").rules("add", {
                max: viewModel.customerOffer().salesCommissionMax()
            })
        }
    }

    viewModel.updateCustomerOffer = function (customerOfferKey) {
        viewModel.dontCalculate(true);
        viewModel.updateValidation();
        viewModel.setCalculationOptions();
        viewModel.dontCalculate(false);
        viewModel.calculation.calculate();
    }

    viewModel.populatePartnerData = function (result) {

        viewModel.selectedCustomerOfferKey = ko.mapping.fromJS(result.body.customerOffers[0].key);
        viewModel.selectedCustomerOfferKey.subscribe(function (newValue) {
            ko.utils.arrayForEach(viewModel.customerOffers(), function (item) {
                if (item.key() === viewModel.selectedCustomerOfferKey()) {
                    viewModel.customerOffer(item);
                }
            });
        });
        //viewModel.selectedCustomerOfferKey.subscribe(viewModel.updateValidation);
        //viewModel.selectedCustomerOfferKey.subscribe(viewModel.setCalculationOptions);
        viewModel.selectedCustomerOfferKey.subscribe(viewModel.updateCustomerOffer);

        viewModel.selectedSalesPersonName = ko.observable();//ko.mapping.fromJS(result.body.salesPersons[0].fullName);
        viewModel.selectedSalesPersonName.subscribe(function (newValue) {
            ko.utils.arrayForEach(viewModel.salesPersons(), function (item) {
                if (item.fullName() === viewModel.selectedSalesPersonName()) {
                    viewModel.salesPerson(item);
                }
            });
        });

        viewModel.customerOffers = ko.mapping.fromJS(result.body.customerOffers);
        viewModel.customerOffer = ko.observable(viewModel.customerOffers()[0]);

        viewModel.salesPersons = ko.mapping.fromJS(result.body.salesPersons);
        //viewModel.salesPerson = ko.observable(viewModel.salesPersons()[0]);

        //APPLY BINDINGS TO HTML
        ko.applyBindings(viewModel);

        //SET PARTNER INPUT
        viewModel.externalReference(viewModel.partnerInput.externalReference());
        viewModel.sendCreditRequest(viewModel.partnerInput.sendCreditRequest());
        viewModel.customerOrgNo(viewModel.partnerInput.customerOrgNo());

        viewModel.selectedCustomerOfferKey(viewModel.partnerInput.customerOfferID());
        var sp = viewModel.getSalesPersonByEmail(viewModel.partnerInput.salesPersonEmail());
        if (sp) {
            viewModel.selectedSalesPersonName(sp.fullName());
        }

        //Hook up calculate on events
        //viewModel.selectedCustomerOfferKey.subscribe(function () {
        //    viewModel.calculation.calculate();
        //});
        viewModel.calculation.inAdvance.subscribe(function () {
            viewModel.calculation.calculate();
        });
        $("#durationSlider").on("slidestop", function (event, ui) {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.interestType.subscribe(function () {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.periodLength.subscribe(function () {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.residualClause.subscribe(function () {
            viewModel.calculation.calculate();
        });
        viewModel.calculation.salesCommission.subscribe(function () {
            viewModel.calculation.calculate();
        });

        

        for (var i = 0; i < viewModel.partnerInput.products().length; i += 1) {
            var row = new productRow();
            var product = viewModel.partnerInput.products()[i];
            var sectionID = product.type();
            var section = viewModel.getSection(sectionID)
            if (section) {
                row.selectedTypeID(sectionID);
                var products = viewModel.getProducts(sectionID);
                var name = product.name();
                if ($.inArray(name, products) !== -1) {
                    row.productName(name);
                }
            }
            row.specification(product.specification());
            row.quantity(product.quantity());
            row.price(product.price());
            viewModel.calculation.addRow(row);
        }
    }

    viewModel.onLoadComplete = function (response) {

        $("#pageLoadSpinner").spin(false);
        $("#calculationForm").show();//"slide", {direction: "up"});
        viewModel.loadComplete(true);
        viewModel.dontCalculate(false);

        if (viewModel.previousVersion()) {
            viewModel.showDialog();
            viewModel.calculation.calculate();
        } else {
            if (viewModel.partnerInput.sendCreditRequest()) {
                viewModel.calculation.save();
            }
            else {
                viewModel.calculation.calculate();
            }
        }
    }

    viewModel.onLoadFail = function (response) {
        //toastr.error("Failed to load Entré data!");
        $("#pageLoadSpinner").spin(false);
        $("#loadError").show();
    }

    $("#pageLoadSpinner").spin("pageload");
    viewModel.getPartnerData()
    .then(
        //SUCCESS
        function (result) {
            if (result) {
                if (result.code != 0) {
                    viewModel.onLoadFail();
                } else {
                    $.when(viewModel.populatePartnerData(result))
                    .then(
                        //SUCCESS
                        viewModel.getDealByReferenceNo(viewModel.partnerInput.externalReference())
                        .then(
                            //SUCCESS
                            function (result) {
                                if (result.code != 0) {
                                    viewModel.onLoadFail();
                                }
                                else {
                                    if (!$.isEmptyObject(result.body)) {
                                        viewModel.previousVersion(ko.mapping.fromJS(result.body));
                                    }
                                    viewModel.onLoadComplete();
                                }
                            },
                            //FAIL
                            viewModel.onLoadFail
                        ),
                        //FAIL
                        viewModel.onLoadFail
                    )
                }
            } else {
                viewModel.onLoadFail();
            }
        },
        //FAIL
        viewModel.onLoadFail
    )

    viewModel.showFullCalculationResult = function () {
        $("#dialogCalculationResult").dialog({
            resizable: false,
            width: 500,
            modal: true,
            dialogClass: "dialogClass",
            closeOnEscape: false,
            buttons: {
                Ok: function () {
                    $(this).dialog("close");
                }
            }
        });
    }

    viewModel.showDialog = function () {
        $("#dialog-confirm").dialog({
            resizable: false,
            width: 500,
            modal: true,
            dialogClass: "dialogClass",
            closeOnEscape: false,
            buttons: {
                "@Html.Raw("CreateNewVersion".GetLocalizedText(""))": function () {
                    $(this).dialog("close");
                    viewModel.dealID(viewModel.previousVersion().dealID().split("-")[0] + "-0")
                    viewModel.externalReference("");
                },
                "@Html.Raw("ExitAndGoToEntre".GetLocalizedText(""))": function () {
                    $(this).dialog("close");
                    window.location = "https://entre.delagelanden.com";
                },
                "@Html.Raw("Exit".GetLocalizedText(""))": function () {
                    $(this).dialog("close");
                    window.location = "/home/index";
                }
            }
        });
    }

    return viewModel;
}



    </script>
}


<div id="dialogCalculationResult" title="@Html.Raw("FullCalculationResult".GetLocalizedText(""))" style="display:none">
    <div data-bind="with:calculationResult" class="container">
        <div data-bind="if: financedAmount" class="unit">
            <span>@Html.Raw("FinancedAmount".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: financedAmount"></span>
        </div>
        <div data-bind="if: periodFee" class="unit">
            <span>@Html.Raw("PeriodFee".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.getPeriodLengthText(periodLength)"></span>
            <span class="suffix">/</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: periodFee"></span>
        </div>
        <div data-bind="if: insuranceFee" class="unit">
            <span>@Html.Raw("InsuranceFee".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.getPeriodLengthText(periodLength)"></span>
            <span class="suffix">/</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: insuranceFee"></span>
        </div>
        <div data-bind="if: residualValue" class="unit">
            <span>@Html.Raw("ResidualValue".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: residualValue"></span>
        </div>
        <div data-bind="if: extensionFee" class="unit">
            <span>@Html.Raw("ExtensionFee".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.getPeriodLengthText(periodLength)"></span>
            <span class="suffix">/</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: extensionFee"></span>
        </div>
        <div data-bind="if: serviceFee" class="unit">
            <span>@Html.Raw("ServiceFee".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.getPeriodLengthText(1)"></span>
            <span class="suffix">/</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: serviceFee"></span>
        </div>
        <div data-bind="if: accServiceFees" class="unit">
            <span>@Html.Raw("AccumulatedServiceFees".GetLocalizedText(""))</span>
            <span class="suffix" data-bind="text: $parent.customerOffer().currency"></span>
            <span class="value" data-bind="text: accServiceFees"></span>
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Ordernummer existerar" style="display: none; z-index:300" data-bind="with: previousVersion">
    <p>@Html.Raw("PreviousVersionInfoText".GetLocalizedText((string)ViewBag.PopUpName))</p>
    @*<p>Det ordernummer som skickades med finns redan knutet till affär <b><u><span data-bind="text: dealID().split('-')[0] ">89765</span></u></b> som finns i <b><u><span data-bind="text: dealID().split('-')[1]"></span></u></b> version(er) i Entré</p>*@
    <br>
    <p>
        <b>@Html.Raw("Customer".GetLocalizedText((string)ViewBag.PopUpName))</b><br>
        @Html.Raw("OrganizationNo".GetLocalizedText((string)ViewBag.PopUpName)): <span data-bind="text: customer.organizationNo"></span>
        <br>
        @Html.Raw("CustomerName".GetLocalizedText((string)ViewBag.PopUpName)): <span data-bind="text: customer.customerName"></span>
    </p>
    <br>
    <p>
        <b>@Html.Raw("Deal".GetLocalizedText((string)ViewBag.PopUpName))</b><br>
        @Html.Raw("FinancedAmount".GetLocalizedText((string)ViewBag.PopUpName)): <span data-bind="text: calculationResult.financedAmount"></span>
        <br>
        @Html.Raw("Duration".GetLocalizedText((string)ViewBag.PopUpName)): <span data-bind="text: calculationData.duration"></span>
        <br>
        @Html.Raw("PeriodFee".GetLocalizedText((string)ViewBag.PopUpName)): <span data-bind="text: calculationResult.periodFee"></span>
        <br>
        @Html.Raw("ProductsHeader".GetLocalizedText((string)ViewBag.PopUpName)):<br>
        <table width="100%" style="margin-left: 10px; font-size: 10px;">
            <tr>
                <th><b>@Html.Raw("ProductType".GetLocalizedText((string)ViewBag.PopUpName))</b></th>
                <th><b>@Html.Raw("Product".GetLocalizedText((string)ViewBag.PopUpName))</b></th>
                <th><b>@Html.Raw("Quantity".GetLocalizedText((string)ViewBag.PopUpName))</b></th>
                <th><b>@Html.Raw("APrice".GetLocalizedText((string)ViewBag.PopUpName))</b></th>
            </tr>
            <!-- ko foreach: calculationData.HW -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.IC -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.LF -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.LI -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
            <!-- ko foreach: calculationData.SU -->
            <tr>
                <td data-bind="text: productName"></td>
                <td data-bind="text: specification"></td>
                <td data-bind="text: quantity"></td>
                <td data-bind="text: price"></td>
            </tr>
            <!-- /ko -->
        </table>
    </p>
    <br>
    <p>@Html.Raw("PreviousVersionHowToContinueQuestion".GetLocalizedText((string)ViewBag.PopUpName))</p>
    @*<p> Vill du skapa en ny version på denna affär eller avsluta och logga in i Entre för att skapa en helt ny affär?</p>*@
</div>
