.inputText {
	border:1px solid #AAAAAA;
	background-color:#fff;
	font-family:arial;
	font-size:13px;
	padding:3px;
	outline:none;
    transition: all 0.25s ease-in-out;
    -webkit-transition: all 0.25s ease-in-out;
    -moz-transition: all 0.25s ease-in-out;
	/*
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	*/
	 -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
}

.inputText:focus {
    -webkit-box-shadow: 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	-moz-box-shadow   : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	box-shadow        : 0 0 3px #ffffff inset, 0 1px 1px rgba(0,0,0,0.1);
	border:1px solid #4675A3;	
}

.errorInput{
	border:1px solid #A34646;
	background-color:#FAF5F5;
	color:#A34646;
	font-family:arial;
	font-size:13px;
	padding:3px;
	/*
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	border-radius:3px;
    -webkit-border-radius:3px;
    -moz-border-radius:3px;
	*/
}
