/* ------------------------------------------------------------------- */
/* General Styling */
/* ------------------------------------------------------------------- */

.ui-dialog-titlebar-close {
  visibility: hidden;
}

div.ui-widget-overlay.ui-front{
    z-index:5;
}

.dialogClass {
    z-index:10;
}

.chzn-container-single .chzn-single.error {
    border-color: Red;
}

input.inputText.error {
    border-color: Red;
}

ul {
    list-style-type:none;
}

.button 
{
    cursor: pointer;    
}


body, html {
    padding:0px;
    margin:0px;
    width:100%;
    height:100%;
    font-family:'Trebuchet MS';
    font-size:12px;
    background-color:#f2f2f2;
    background-image:url('/Content/images/topbg.png');
    background-repeat:repeat-x;
}

h1, h2, h3, h4 {
	font-family:'Trebuchet MS';
	display:block;
	margin:0px;
	padding:0px;
	font-weight:lighter;
	float:left;
	clear:right;
}

h1 {font-size:22px;color:#fff;}
h2 {font-size:22px;color:#000;}
h3 {font-size:18px;color#1f1f1f;}
h4 {font-size:16px;color:#2b2b2b;}

#container {margin:0px auto;width:900px;float:none;}
#top, #middle, #bottom, #footer, #loader {width:880px;padding:10px;}
#header {width:900px;padding:0px;}

/* ------------------------------------------------------------------- */
/* Progress bar */
/* ------------------------------------------------------------------- */

#progressbar {
    float:none;
    margin:5px auto;
    width:709px;
    height:73px;
}

.progressbar1 {
    background-repeat:no-repeat;
    background-image:url('/Content/images/progressbar-1.png');
}

.progressbar2 {
    background-repeat:no-repeat;
    background-image:url('/Content/images/progressbar-2.png');
}

.progressbar3 {
    background-repeat:no-repeat;
    background-image:url('/Content/images/progressbar-3.png');
}

    #progressbar div {width:236px; margin-top:42px; float:left;}

    /* Progressbar Text */
	#progressbarCalculation {text-align:left;font-size:16px;display:block;}
    #progressbarCredit {text-align:center;font-size:16px;display:block;}
    #progressbarAgreement {text-align:right;font-size:16px;display:block;}

/* ------------------------------------------------------------------- */
/* Top Section */
/* ------------------------------------------------------------------- */

#top {margin:40px 0px 0px 0px; clear:both;}

    #top #customerOfferSelect, #top #salesPersonSelect {width:130px;}

	#top #options {width:auto;padding:0px 40px 10px 10px;}

		#options-unit {clear:left;width:100%;margin-bottom:3px;}
	
	#top  #info-box {width:500px;}
	
		#info-box-header {
		    -moz-border-top-left-radius: 20px;
		    border-top-left-radius: 20px;
		    background-image:url('/Content/images/blue-box-bg.png');
		    background-repeat:repeat-x;
		    background-position:15 0;
		    width:100%;
		}
		
		#info-box-header h1 {margin:3px 0px 0px 6px;}
		
		#showFullCalculationResult {
		    margin:12px 10px 0px 0px;
		    color:#ddd;
		    float:right;
		    cursor: pointer;
		}
		
		#showFullCalculationResult:hover 
		{
		    color:#fff;
		}
		
		#info-box-content {
		    width:478px;
		    padding:10px;
		    background-color:#fff;
		    border:1px solid #DDDDDD;
		    -moz-border-bottom-right-radius: 20px;
		    border-bottom-right-radius: 20px;
		    font-size:16px;
		    color:#2b2b2b;
		}
		
		#info-box-content div 
		{
		    width:100%;
		}
		
	#top #save-button {margin:0px 0px 0px 40px;}
	
	#top div {float:left;}

	
/* ------------------------------------------------------------------- */
/* Middle Section */
/* ------------------------------------------------------------------- */

#middle {float:left; margin:10px 0px 0px 0px; clear:both;}

    #middle .toggle {cursor: pointer;}

	#middle #wrapper {clear:both;width:auto;padding:0px;margin:0px;}
	
	#middle #unit{
	    width:auto;
	    text-align:left;
	    padding:5px;
	    margin:5px 20px 5px 0px;
	}
	
		#middle #unit input, #middle #unit span, #middle #unit div, #middle #unit select {clear:both;float:left;}
		
		#middle #unit input[type=text] {width:100px;}

        #middle #unit .row input[type=text] { clear:none; width:180px; }
		
		#middle #duration {width:80px;}
		
		#middle ul { clear:both; padding-left: 10px; padding-top:4px; }
		
		#middle li { margin-top:4px; }
		
		#middle .afterBoxText { padding-top:3px; margin:3px 0px 3px 10px; }
		
		
	#middle div {float:left;}

    #middle select {
        width:120px;
    }

    #middle .row {
        margin-top:5px;
        width: 350px;
    }

    #middle #unit .row .rowTitle {
        width:150px;
    }
    
    #salesCommission 
    {
        padding-right:15px;
        text-align: right;    
    }

/* ------------------------------------------------------------------- */
/* Bottom section */
/* ------------------------------------------------------------------- */

#bottom {clear:both;}

	#bottom #wrapper {clear:left;width:auto;padding:0px;margin:15px 0px 0px 0px;}

	#bottom #unit {
	width:auto;
	text-align:left;
	padding:5px;
	margin:5px 20px 5px 0px;
	}
	
	#bottom th {
	    font-family:'Trebuchet MS';
	    margin:0px;
	    padding:0px;
	    font-weight:lighter;
	    font-size:16px;
	    color:#2b2b2b;
        text-align:left;
	}

    #bottom td {
        padding-right: 15px;
    }
	
	#bottom #unit input, #bottom #unit span, #bottom #unit div {clear:left;float:left;}
	
	#bottom div {float:left;}

    #bottom .rowType {width:120px;}
    #bottom .rowProduct {width:120px;}
    #bottom .rowSpecification {width:240px;}
    #bottom .rowQuantity {width:60px;}
    #bottom .rowPrice {width:100px;}
    
    #bottom #productTypeHeader {width:130px;}
    #bottom #productNameHeader {width:130px;}
    #bottom #productSpecificationHeader {width:250px;}
    #bottom #productQuantityHeader {width:80px;}
    #bottom #productPriceHeader {width:110px;}
    
    #installationFields, invoiceFields
    {
        width:300px;
        margin-top:10px;
    }
    
    #bottom #wrapper #unit #installationFields .row, #bottom #wrapper #unit #invoiceFields .row
    {
        clear:both;
        width:100%;
        margin:2px;
    }
    
    #bottom #wrapper #unit #installationFields label, #bottom #wrapper #unit #invoiceFields input
    {
        float:left;
        clear:none;
        padding-top:3px;
    }
    
    #bottom #wrapper #unit #installationFields input, #bottom #wrapper #unit #invoiceFields input
    {
        float:left;
        clear:none;
        width:150px;
        margin-left:20px;
    }

/* ------------------------------------------------------------------- */
/* Footer */
/* ------------------------------------------------------------------- */

#footer {
    width:100%;
    min-height:25px;
    position:fixed;
    bottom:0px;
    text-align:center;
    background-color:#fff;
	box-shadow: 0 0 3px rgba(232, 232, 232, 232);
    -webkit-box-shadow: 0 0 3px rgba(232, 232, 232, 232); 
    -moz-box-shadow: 0 0 3px rgba(232, 232, 232, 232);
	border:1px solid #C9C9C9;
	font-size:12px;
}

	#footer #wrapper {
	margin:0px auto;
	width:860px;
	display:block;
	float:none;
	}
	
/* ------------------------------------------------------------------- */
/* Dialogs */
/* ------------------------------------------------------------------- */

    #dialogCalculationResult .container {
		padding:10px;
		font-size:16px;
		color:#2b2b2b;
	}
	
	#dialogCalculationResult .container .unit
	{
	    float:left;
	    clear:both;
	    width:100%;
	}
	
	#dialogCalculationResult .container .unit .value
	{
	    float:right;
	    margin:0px 5px 0px 0px;
	}
	
	#dialogCalculationResult .container .unit .suffix
	{
	    float:right;
	}


/* ------------------------------------------------------------------- */
/* Special itmes */
/* ------------------------------------------------------------------- */

	/* Duration Slider */
	#durationSlider {width:80px;margin:5px;}

	/* Toasters */
	#toaster {
	margin:10px 0px 20px 0px;
	width:840px;
	padding:6px 6px 6px 50px;
	color:#fff;
	font-size:12px;
	clear:left;
	background-repeat:no-repeat;
	background-position:10px 50%;
	border-width:2px;
	border-style:solid;
	}

	.toaster-green {border-color:#B6D4A7;background-image:url('/Content/images/icons/save.png');}
	.toaster-yellow {border-color:#D3D4A7;background-image:url('/Content/images/icons/warning.png');}
	.toaster-red {border-color:#D4A7A7;background-image:url('/Content/images/icons/error.png');}
	.toaster-blue {border-color:#A7ADD4;background-image:url('/Content/images/icons/info.png');}

	/* Color schemes */
	.green {background-color:#4BA346;}
	.blue {background-color:#4675A3;}
	.red {background-color:#A34646;}
	.yellow {background-color:#E8E84A;}
	
	.continueButton 
	{
        height:34px;
        background-image:url('/Content/images/icons/save.png');
        background-repeat:repeat-x;
        border:1px solid #2e532c;
        color:fff;
        padding:5px;
        width:auto;
	}

	/* Save, Continue Button */
	#savenow {
		/* background-image:url('/Content/images/green-button.png');
		background-repeat:no-repeat; */
		display:block;
		float:left;
		width:auto;
		height:auto;
		border:0px;
		color:#fff;
		font-family:'Trebuchet MS';
		font-size:16px;
		text-align:left;
		padding:8px;
		cursor: pointer;  
	}

	#savenow span {float:left;display:block;margin:4px;}

	/* Terminate Button */
	#close {
		float:right;
		display:block;
		position:absolute;
		top:10px;
		right:10px;
		width:24px;
		height:24px;
		font-size:14px;
		/* background-image:url('/Content/images/icons/close.png');
		background-repeat:no-repeat;
		background-position:right center; */
	}

/* ------------------------------------------------------------------- */
/* Ribbon */
/* ------------------------------------------------------------------- */

.ribbon-wrapper-blue {
  width: 280px;
  height: 130px;
  position: absolute;
  top: 60px;
  left: -60px;
}

.ribbon-blue {  
  font-family:'Trebuchet MS';
  font-size:14px;
  color: #fff;
  text-align: center;
  letter-spacing:1px;
  -webkit-transform: rotate(-45deg);
  -moz-transform:    rotate(-45deg);
  -ms-transform:     rotate(-45deg);
  -o-transform:      rotate(-45deg);
  position: relative;
  padding: 13px 0;
  left: 1px;
  top: -5px;
  width: 280px;
  background: rgb(167,207,223);
  background: -moz-linear-gradient(top, rgba(167,207,223,1) 0%, rgba(35,83,138,1) 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(167,207,223,1)), color-stop(100%,rgba(35,83,138,1)));
  background: -webkit-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: -o-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: -ms-linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  background: linear-gradient(top, rgba(167,207,223,1) 0%,rgba(35,83,138,1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a7cfdf', endColorstr='#23538a',GradientType=0 );
  color: #fff;
  -webkit-box-shadow: 0px 0px 3px rgba(0,0,0,0.3);
  -moz-box-shadow:    0px 0px 3px rgba(0,0,0,0.3);
  box-shadow:         0px 0px 3px rgba(0,0,0,0.3);
}

.ribbon-blue:before, .ribbon-blue:after {
  content: "";
  border-top:   3px solid #23538a;   
  border-left:  3px solid transparent;
  border-right: 3px solid transparent;
  position:absolute;
  bottom: -3px;
}
.ribbon-blue:before {left: 0;}
.ribbon-blue:after {right: 0;}