﻿@model WebAPITest.Models.CreditIndexViewModel
@using WebAPITest.Extensions
@using WebAPITest.Models
@{
    ViewBag.Title = "DLL Connect - Credit";
    ViewBag.Progressbar = "progressbar2";
}

@* Top Row *@
<div class="row" style="padding-bottom:35px;">
	<div class="span3">
		<h5>@Html.Raw("PartnerOrderNumber".GetLocalizedText("")): @SessionObjects.PartnerOrderNumber</h5>
		@if(SessionObjects.EntreDealNumber != null) { <h5> @Html.Raw("EntreDealNo".GetLocalizedText("")): @SessionObjects.EntreDealNumber</h5> }
	</div>
	<div class="span2 pull-right text-right">
		<input type="button" id="save-button" class="btn btn-success pull-right" data-bind="click: onProcessCreditRequest" value='@Html.Raw("EvaluateCredit".GetLocalizedText(""))'/>
		<div id="saveSpinner"></div>
	</div>
</div>
@* End of top row *@
<div class="row">
	<div class="span9">
		<h3>
			@Html.Raw("DecisionSupport".GetLocalizedText(""))
		</h3>
		<table class="creditcustomerinfo">
			<thead>
				<tr>
					<th class="text-left">@Html.Raw("CreditVolume".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("Duration".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("CustomerOffer".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("SalesPerson".GetLocalizedText(""))</th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><label style="font-weight:bold;" data-bind="text: financedAmount"></label></td>
					<td><label style="font-weight:bold;" data-bind="text: duration"></label></td>
					<td><label style="font-weight:bold;" data-bind="text: customerOfferName"></label></td>
					<td><label style="font-weight:bold;" data-bind="text: salesPersonName"></label></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" style="padding-top:35px;">
	<div class="span9">
		<h3>
			@Html.Raw("Kunduppgifter".GetLocalizedText(""))
		</h3>
		<table class="creditcustomerinfo">
			<thead>
				<tr>
					<th class="text-left">@Html.Raw("OrgOrPnr".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("CustomerName".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("CoName".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("AddressOrBox".GetLocalizedText(""))</th>
					<th class="text-left">@Html.Raw("PostalAddress".GetLocalizedText(""))</th>
				</tr>
			</thead>
			<tbody>
				<tr>
                    <td>
                        <div class="input-group">
							    <input class="form-control inputText" type="text" placeholder="Org. nummer" style="width:70%;" name="customerSearch" id="customerSearch" data-bind="value: customer() ? customer().organizationNo : '', valueUpdate: 'afterkeydown', enable: isNewCustomer">
							    <button class="btn btn-primary add-on" id="getCustomerButton" type="button" data-bind="click: getCustomer"><i class="fa fa-search fa-fw"></i></button>
					    </div>
                    </td>
					<td><label data-bind="text: customer() ? customer().customerName : ''" /></td>
					<td><label data-bind="text: customer() ? customer().coName : ''" /></td>
					<td><label data-bind="text: customer() ? customer().postalAddress : ''"/></td>
					<td><label data-bind="text: customer() ? customer().zipCode : ''" /></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>

<div class="row" style="padding-top:35px;">
	<div class="span9">
		<h3 style="padding-bottom:10px;">
			@Html.Raw("MessageToCredit".GetLocalizedText(""))
		</h3>
		
		<textarea class="inputText" cols="70" rows="8" style="resize: none;" data-bind="value: messageToCredit"></textarea>

		@if (SessionObjects.SendToManualEditable)
		{
			@Html.Raw("<p><h5><input name=\"sendToManual\" id=\"sendToManual\" type=\"checkbox\" data-bind=\"checked: sendToManualEvaluation\" /><label class=\"smallBoldTitle\" for=\"sendToManual\">&nbsp;&nbsp;" + Html.Raw("ManualCreditEvaluation".GetLocalizedText("")) + "</label></h5></p>")
		}
	</div>
</div>

<form method="post" action="/agreement/index" style="visibility: hidden">
    <input type="hidden" id="agreementData" name="agreementData" value="" />
    <button type="submit" id="gotoAgreement"></button>
</form>

@*<div style="margin-top: 100px; clear: both;" data-bind="text: ko.toJSON(viewModel)"></div>*@

@section scripts {
    <script type="text/javascript">

        $("#getCustomerSpinner").spin("small");
        $("#getCustomerSpinner").hide();
        $("#saveSpinner").spin("small");
        $("#creditModalSpinner").spin("small");
        $("#customerSearch").keypress(function (e) {
            if (e.which == 13) {
                viewModel.getCustomer();
            }
        });

        var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));

        viewModel.getCustomerXhr;
        viewModel.sendCreditRequestXhr;
        viewModel.lastSearch = ko.observable();
        viewModel.isNewCustomer = ko.observable();
        viewModel.countryCode = readCookie("entre-country-code");
        viewModel.dirtyOrgNo = ko.observable();

        viewModel.getAgreementData = function () {
            var data = {};
            data.dealID = viewModel.dealID();
            data.externalReference = viewModel.externalReference();
            //data.creditDecisionCode = viewModel.creditDecisionCode();
            return JSON.stringify(data);
        }

        viewModel.clearCustomerInfo = function () {
            viewModel.customer().customerName("");
            viewModel.customer().coName("");
            viewModel.customer().postalAddress("");
            viewModel.customer().zipCode("");
            viewModel.customer().city("");
        }

        viewModel.getCustomer = function () {

            if (!viewModel.getCustomerXhr) {
                var message = {};
                var orgNo = viewModel.customer().organizationNo();
                message.organizationNo = orgNo;
                if (orgNo != viewModel.lastSearch() || viewModel.dirtyOrgNo()) {
                    viewModel.lastSearch(orgNo);
                    if (viewModel.isValidOrgNO(orgNo, viewModel.countryCode)) {
                        $("#getCustomerButton").hide();
                        $("#getCustomerSpinner").show();

                        return viewModel.getCustomerXhr = $.ajax({
                            url: '/api/entre/getCustomer',
                            data: JSON.stringify(message),
                        })
                        .done(function (result) {
                            if (result.code != 0) {
                                ajaxError(result.message);
                            }
                            else {
                                if (result.body.customer.organizationNo == "") {
                                    ajaxError("@Html.Raw("CouldNotFindCustomer".GetLocalizedText(""))");
                                    viewModel.clearCustomerInfo();
                                } else {
                                    viewModel.customer().organizationNo(result.body.customer.organizationNo);
                                    viewModel.customer().customerName(result.body.customer.customerName);
                                    viewModel.customer().coName(result.body.customer.coName);
                                    viewModel.customer().postalAddress(result.body.customer.postalAddress);
                                    viewModel.customer().zipCode(result.body.customer.zipCode);
                                    viewModel.customer().city(result.body.customer.city);
                                    //viewModel.customer(ko.mapping.fromJS(result.body.customer));
                                    viewModel.dirtyOrgNo(false);
                                }
                            }
                        })
                        .always(function () {
                            $("#getCustomerButton").show();
                            $("#getCustomerSpinner").hide();
                            viewModel.getCustomerXhr = null;
                        });
                    } else {
                        validationError("@Html.Raw("ValidationErrorOrgNoInvalid".GetLocalizedText(""))");
                    }
                }
            }
        }

        viewModel.saveCustomer = function () {
            var message = {};
            message.organizationNo = viewModel.customer().organizationNo();
            message.dealID = viewModel.dealID();
            return $.ajax({
                url: '/api/entre/saveCustomer',
                data: JSON.stringify(message),
            });
        }

        viewModel.processCreditRequest = function () {
            var message = {};
            message.dealID = viewModel.dealID();
            message.message = viewModel.messageToCredit() ? viewModel.messageToCredit() : "";
            message.toManualEvaluation = viewModel.sendToManualEvaluation();

            return $.ajax({
                url: '/api/entre/sendCreditRequest',
                data: JSON.stringify(message),
            })
        }

        viewModel.onProcessCreditRequest = function () {
            if (!viewModel.dirtyOrgNo()) {
                viewModel.showCreditModal();
                if (viewModel.isNewCustomer()) {
                    if (viewModel.isValidOrgNO(viewModel.customer().organizationNo(), viewModel.countryCode)) {
                        viewModel.saveCustomer()
                        .then(
                            //SUCCESS
                            function (result) {
                                if (result.code != 0) {
                                    ajaxError(result.message);
                                    $("#creditModal").dialog('close');
                                } else {
                                    viewModel.isNewCustomer(false);
                                    viewModel.processCreditRequest()
                                    .then(
                                        //SUCCESS
                                        function (result) {
                                            if (result.code != 0) {
                                                ajaxError(result.message);
                                                $("#creditModal").dialog('close');
                                            }
                                            else {
                                                viewModel.creditDecisionCode = ko.observable(result.body.decisionCode);
                                                $('#agreementData').val(viewModel.getAgreementData());
                                                $("#gotoAgreement").click();
                                            }
                                        },
                                        //FAIL
                                        function () {
                                            $("#creditModal").dialog('close');
                                        }
                                    );
                                }
                            },
                            //FAIL
                            function () {
                                $("#creditModal").dialog('close');
                            }
                        );
                    } else {
                        validationError("@Html.Raw("ValidationErrorOrgNoInvalid".GetLocalizedText(""))");
                        $("#creditModal").dialog('close');
                    }
                } else {
                    viewModel.processCreditRequest()
                    .then(
                        //SUCCESS
                        function (result) {
                            if (result.code != 0) {
                                ajaxError(result.message);
                                $("#creditModal").dialog('close');
                            }
                            else {
                                viewModel.creditDecisionCode = ko.observable(result.body.decisionCode);
                                $('#agreementData').val(viewModel.getAgreementData());
                                $("#gotoAgreement").click();
                            }
                        },
                        //FAIL
                        function () {
                            $("#creditModal").dialog('close');
                        }
                    );
                }
            }
            else {
                validationError("@Html.Raw("ValidationErrorOrgNoDirty".GetLocalizedText(""))");
            }
        }

        viewModel.isValidOrgNO = function (orgNo, countryCode) {

            var numStr = orgNo.replace(" ", "").replace("-", "");
            if (isNaN(numStr)) {
                return false;
            }

            var factor = [];
            var validLength = 0;
            switch (countryCode) {
                case "SE":
                    factor = new Array(2, 1, 2, 1, 2, 1, 2, 1, 2);
                    validLength = factor.length + 1;
                    break;
                case "DK":
                    factor = new Array(2, 7, 6, 5, 4, 3, 2, 1);
                    validLength = factor.length;
                    break;
                case "NO":
                    factor = new Array(3, 2, 7, 6, 5, 4, 3, 2);
                    validLength = factor.length + 1;
                    break;
                case "FI":
                    factor = new Array(7, 9, 10, 5, 8, 4, 2);
                    validLength = factor.length + 1;
                    break;
            }

            var checksum = 0;
            if (numStr.length != validLength) return false;
            for (var i = 0; i < factor.length; i++) {
                var tmpVal = Number(numStr.substr(i, 1)) * factor[i];
                if (countryCode == "SE" && tmpVal > 9) {
                    var tmpStr = tmpVal.toString();
                    checksum += Number(tmpStr.substr(0, 1)) + Number(tmpStr.substr(1, 1));
                } else checksum += tmpVal;
            }
            if (countryCode == "DK" && (checksum % 11 == 0)) return true;
            if (countryCode == "FI") {
                var checkNo = 11 - checksum % 11;
                var inCheckNo = Number(numStr.substr(7, 1));
                if (checkNo == inCheckNo || (checkNo == 11 && inCheckNo == 0)) return true;
            }
            if (countryCode == "NO") {
                var checkNo = 11 - checksum % 11;
                var inCheckNo = Number(numStr.substr(8, 1));
                if (checkNo == inCheckNo || (checkNo == 11 && inCheckNo == 0)) return true;
            }
            if (countryCode == "SE") {
                var tmpStr = (checksum > 9) ? checksum.toString() : "0" + checksum.toString();
                var checkNo = 10 - Number(tmpStr.substr(1, 1));
                var inCheckNo = Number(numStr.substr(9, 1));
                if (checkNo == inCheckNo || (checkNo == 10 && inCheckNo == 0)) return true;
            }
            return false;
        }

        viewModel.showCreditModal = function () {
            $("#creditModal").dialog({
                draggable: false,
                resizable: false,
                closeOnEscape: false,
                title: '@Html.Raw("CreditModalTitle".GetLocalizedText(""))',
                width: 400,
                modal: true,
                dialogClass: "dialogClass"
            });
        }

        var customer = function () {
            var self = this;

            self.organizationNo = ko.observable();
            self.dirtyOrgNo = ko.observable();
            self.organizationNo.subscribe(function () {
                viewModel.dirtyOrgNo(true);
            });

            self.customerName = ko.observable();
            self.coName = ko.observable();
            self.postalAddress = ko.observable();
            self.zipCode = ko.observable();
            self.city = ko.observable();
        }

        var tempCust = ko.utils.unwrapObservable(viewModel.customer);
        if (tempCust) {
            viewModel.customer = ko.observable(tempCust);
            viewModel.isNewCustomer(false);
            viewModel.dirtyOrgNo(false);
        } else {
            viewModel.customer = ko.observable(new customer());
            var orgNo = viewModel.customerOrgNo() || '';
            viewModel.customer().organizationNo(orgNo);
            viewModel.isNewCustomer(true);
            viewModel.dirtyOrgNo(true);
        }

        if (viewModel.sendCreditRequest()) {
            $.when(viewModel.getCustomer())
            .then(function () {
                if (!viewModel.dirtyOrgNo()) {
                    viewModel.onProcessCreditRequest();
                }
            });
        }
        else {
            if (viewModel.customer().organizationNo() !== '' && viewModel.isNewCustomer()) {
                viewModel.getCustomer();
            }
        }

        var lowerCaseCountry = viewModel.countryCode.toLowerCase();
        var dealCreatedMessage = "@Html.Raw("DealCreatedVisitEntre".GetLocalizedText(""))";
        dealCreatedMessage = dealCreatedMessage.replace("[DealNumber]", viewModel.dealID());
        dealCreatedMessage = dealCreatedMessage.replace("[LinkToEntre]", '<a target="_blank" href="https://www.delagelandenfinans.' + lowerCaseCountry + '">www.delagelandenfinans.' + lowerCaseCountry + '</a>');
        successMessage(dealCreatedMessage);

        ko.applyBindings(viewModel);
    </script>
}

<div id="creditModal">
    <div id="creditModalSpinner"></div>
    <div><b>@Html.Raw("CreditModalHeader".GetLocalizedText(""))</b></div>
    <div>
        <span>@Html.Raw("CreditModalText1".GetLocalizedText(""))</span><br />
        <span>@Html.Raw("CreditModalText2".GetLocalizedText(""))</span><br />
    </div>
</div>
