﻿@model WebAPITest.Models.AgreementIndexViewModel
@using WebAPITest.Extensions
@using WebAPITest.Models
@{
    ViewBag.Title = "DLL Connect - Agreement";
    ViewBag.Progressbar = "progressbar3";    
}

@* Top Row *@
<div class="row" style="padding-bottom:35px;">
	<div class="span3">
		<h5>@Html.Raw("PartnerOrderNumber".GetLocalizedText("")): @SessionObjects.PartnerOrderNumber</h5>
		@if(SessionObjects.EntreDealNumber != null) { <h5> @Html.Raw("EntreDealNo".GetLocalizedText("")): @SessionObjects.EntreDealNumber</h5> }
	</div>
    <!-- ko if: creditDecisionCode() == "APPROVED" -->
	<div class="span2 pull-right text-right">
		<input type="button" id="save-button" class="btn btn-success pull-right" data-bind="click: createAgreement" value='@Html.Raw("CreateAgreementButton".GetLocalizedText(""))'/>
		<div id="saveSpinner"></div>
	</div>
    <!-- /ko -->
</div>
@* End of top row *@

<form id="agreementForm" style="display: none">
<div class="row" style="padding-bottom:35px;">
    <div class="span8">
	    <div id="agreementInfoBox" class="infoBox">
		    <div class="infoBoxContent" style="font-size:14px;">
                <!-- ko if: creditDecisionCode() == "APPROVED" -->
                <div id="creditDecisionApprovedInfo">
                    <i class="fa fa-thumbs-o-up fa-5x" aria-hidden="true" style="color:#fff;"></i>
                </div>
                <!-- /ko -->
                <div id="creditDecisionInfo">
                    <span data-bind="text: creditDecisionText"></span><br /><br />
                    <!-- ko if: creditReasonCode() == "EIB_CHECK" --><span>@Html.Raw("SMECreditInfo".GetLocalizedText(""))</span><br /><br /><!-- /ko -->
		            Datum: <span data-bind="text: creditDecisionDate"></span>
                </div>
		    </div>
	    </div>
    </div>
</div>
<!-- ko if: creditDecisionCode() == "APPROVED" -->
<div class="row" style="padding-bottom:35px;">
	<div class="span9">
		<h3>
			@Html.Raw("ContactInformation".GetLocalizedText(""))
		</h3>
		<table style="width:100%;">
			<thead>
				<tr>
					<th class="text-left"><label>@Html.Raw("Contact".GetLocalizedText(""))</label></th>
					<th class="text-left"><label>@Html.Raw("PhoneNumber".GetLocalizedText(""))</label></th>
                    <th class="text-left"><label>@Html.Raw("Email".GetLocalizedText(""))</label></th>
                    <th class="text-left"><label>@Html.Raw("Fax".GetLocalizedText(""))</label></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="inputText" name="customerContact" id="customerContact" data-bind="value: customerContact"></td>
					<td><input type="text" class="inputText" name="customerPhone" id="customerPhone" data-bind="value: customerPhone"></td>
                    <td><input type="text" class="inputText" name="customerEmail" id="customerEmail" data-bind="value: customerEmail"></td>
					<td><input type="text" class="inputText" name="customerFax" id="customerFax" data-bind="value: customerFax"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" style="padding-bottom:35px;">
	<div class="span9">
		<h3>
			@Html.Raw("InstallationAddress".GetLocalizedText(""))
		</h3>
		<table style="width:50%;">
			<thead>
				<tr>
					<th class="text-left"><label>@Html.Raw("Address".GetLocalizedText(""))</label></th>
					<th class="text-left"><label>@Html.Raw("Location".GetLocalizedText(""))</label></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="inputText" name="installationAddress" id="installationAddress" data-bind="value: installationAddress"></td>
					<td><input type="text" class="inputText" name="installationLocation" id="installationLocation" data-bind="value: installationLocation"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row" style="padding-bottom:35px;">
	<div class="span9">
		<h3>
			@Html.Raw("InvoiceAddress".GetLocalizedText(""))
		</h3>
		<table style="width:100%;">
			<thead>
				<tr>
					<th class="text-left"><label>@Html.Raw("CoName".GetLocalizedText(""))</label></th>
					<th class="text-left"><label>@Html.Raw("Address".GetLocalizedText(""))</label></th>
					<th class="text-left"><label>@Html.Raw("ZipCode".GetLocalizedText(""))</label></th>
					<th class="text-left"><label>@Html.Raw("City".GetLocalizedText(""))</label></th>
				</tr>
			</thead>
			<tbody>
				<tr>
					<td><input type="text" class="inputText" name="invoiceCoName" id="invoiceCoName" data-bind="value: invoiceCoName"></td>
					<td><input type="text" class="inputText"  name="invoiceAddress" id="invoiceAddress" data-bind="value: invoiceAddress"></td>
					<td><input type="text" class="inputText" name="invoiceZipCode" id="invoiceZipCode" data-bind="value: invoiceZipCode"></td>
					<td><input type="text" class="inputText" name="invoiceCity" id="invoiceCity" data-bind="value: invoiceCity"></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
<div class="row">
	<div class="span4">
		<h3>
			@Html.Raw("SpecificationOfRentalItems".GetLocalizedText(""))
		</h3>
		<p><label>@Html.Raw("AlternativeOrComplementaryText".GetLocalizedText(""))</label></p>
		<textarea class="inputText" rows="8" style="width:100%;resize: none;" data-bind="value: specification"></textarea>
	</div>
	<div class="span5">
		<h3>
			@Html.Raw("SpecialConditions".GetLocalizedText(""))
		</h3>
		<div id="special-conditions">
			<label>@Html.Raw("Selectable".GetLocalizedText(""))</label>
			<ul id="specialConditionsList" data-bind="foreach: specialConditions">
				<li><input type="checkbox" class="specialCondition" data-bind="attr: {value: $data, id: 'specialCondition' + $index() }"/><span class="afterBoxText" data-bind="text: $data, attr: { for: 'specialCondition' + $index() }"></span></li><br />
			</ul>
		</div>
		<div id="insurance-options">
            <label>@Html.Raw("Insurance".GetLocalizedText(""))</label>
			    <ul id="insuranceOptionsList" data-bind="foreach: insuranceOptions">
				    <li><input type="radio" name="insuranceOptions" data-bind="attr: {value: $data, id: 'insuranceOption' + $index() }" /><span class="afterBoxText" data-bind="text: $parent.insuranceOptionTexts[$data], attr: { for: 'insuranceOption' + $index() }"></span></li>
			    </ul>
		</div>
	</div>
</div>
<!-- /ko -->
</form>

<div style="clear:both"></div>

<form name="viewAgreementForm" id="viewAgreementForm" method="post" action="/agreement/pdf/@Html.Raw(Model.dealID)">
    <input type="hidden" name="base64" id="base64" value="" />
</form>

@*<button data-bind="click: function() { createAgreement();}">Create agreement</button>
<button data-bind="click: function() { viewAgreement();}">View agreement</button>
<button data-bind="click: function() { showModal();}">Show modal</button>*@
@*<div style="margin-top:100px; clear:both;" data-bind="text: ko.toJSON(viewModel)"></div>*@

@section scripts {
    <script type="text/javascript">
        $(document).ready(function () {
            $("#modalForm").validate();
        });

        $("#saveSpinner").spin("small");
        $("#mailSpinner").spin("small");
        $("#missingEmailSpinner").spin("small");

        
        var viewModel = ko.mapping.fromJS(@Html.Raw(Json.Encode(Model)));
        viewModel.mailFrom = ko.observable();
        viewModel.mailTo = ko.observable();
        viewModel.mailSubject = ko.observable();
        viewModel.mailBody = ko.observable();
        viewModel.esignAgreementEnabled = ko.observable();
        viewModel.esignDeliveryApprovalEnabled = ko.observable();
        
        viewModel.insuranceOptionTexts = {
            "InsuranceDisplayAddedToRent": "@Html.Raw("InsuranceDisplayAddedToRent".GetLocalizedText(""))",
            "InsuranceDisplaySpecifiedAsPartOfRent": "@Html.Raw("InsuranceDisplaySpecifiedAsPartOfRent".GetLocalizedText(""))",
            "InsuranceDisplaySpecifiedSeparately": "@Html.Raw("InsuranceDisplaySpecifiedSeparately".GetLocalizedText(""))",
            "InsuranceDisplayAddedToInvoice": "@Html.Raw("InsuranceDisplayAddedToInvoice".GetLocalizedText(""))",
            "InsuranceDisplayAddedToRentDoNotDisplay": "@Html.Raw("InsuranceDisplayAddedToRentDoNotDisplay".GetLocalizedText(""))"
        }

        viewModel.getCreateAgreementParameters = function () {
            data = {};

            data.dealID = viewModel.dealID() || "";
            data.additionalText = viewModel.specification() || "";
            data.customerContact = viewModel.customerContact() || "";
            data.customerPhone = viewModel.customerPhone() || "";
            data.customerEmail = viewModel.customerEmail() || "";
            data.customerFax = viewModel.customerFax() || "";
            data.invoiceAddress = viewModel.invoiceAddress() || "";
            data.invoiceCoName = viewModel.invoiceCoName() || "";
            data.invoiceZipcode = viewModel.invoiceZipCode() || "";
            data.invoiceCity = viewModel.invoiceCity() || "";
            data.installationAddress = viewModel.installationAddress() || "";
            data.installationLocation = viewModel.installationLocation() || "";
            data.specialConditions = [];
            $("#specialConditionsList input:checked").each(function () {
                data.specialConditions.push($(this).val());
            });
            data.insuranceOption = $("#insuranceOptionsList input:checked").val();

            return data;
        }

        viewModel.createAgreement = function () {
            // Customer must have a valid email address            
            if ($("#customerEmail").val().trim().length == 0) {
                viewModel.showModalMissingEmail();
                return;
            }                       
            
            $("#saveSpinner").show();
            $("#save-button").prop("disabled", true);
            $("#agreementSpinner").show();
            $("#btnCreateAgreement").prop("disabled", true);
            $("#lblNoCustomerEmail").prop("hidden", true);
            $("#btnExit").prop("disabled", true);            

            $.ajax({
                url: '/api/entre/createAgreement',
                data: JSON.stringify(viewModel.getCreateAgreementParameters()),
            })
            .done(function (result) {
                if (result.code != 0) {
                    ajaxError(result.message);
                }
                else {
                    viewModel.base64 = result.body.base64;
                    viewModel.esignAgreementEnabled(result.body.esignAgreementEnabled);
                    viewModel.esignDeliveryApprovalEnabled(result.body.esignDeliveryApprovalEnabled);                    
                    viewModel.showModal();
                }
            })
            .always(function () {
                $("#saveSpinner").hide();
                $("#save-button").prop("disabled", false);
                $("#agreementSpinner").hide();
                $("#btnCreateAgreement").prop("disabled", false);
                $("#lblNoCustomerEmail").prop("hidden", false);
                $("#btnExit").prop("disabled", false);
            });
        }

        viewModel.sendMail = function () {
            $('#mailSpinner').show();

            data = {
                from: "noreply@dllgroup.com",
                to: viewModel.mailTo(),
                subject: viewModel.mailSubject(),
                body: viewModel.mailBody(),
                attachment: viewModel.base64
            }
            $.ajax({
                contentType: 'application/json',
                type: "POST",
                dataType: 'json',
                url: '/agreement/mail/@Html.Raw(Model.dealID)',
                data: JSON.stringify(data)
            })
            .done(function (result) {
                $('#mailSpinner').hide();
                if (result.code === 0) {
                    successMessage("@Html.Raw("MailSent".GetLocalizedText(""))");
            } else {
                ajaxError(result.message);
            }
            })
            .fail(function () {
                $('#mailSpinner').hide();
            })
        }

        viewModel.sendEsign = function () {
            $('#mailSpinner').show();
            $("#buttonEsignSend").prop("disabled", true);

            var agreementEmailArray = [];
            var deliveryApprovalEmailArray = [];
            

            $('input[name^="agreementTxtbox"]').each(function () {
                agreementEmailArray.push($(this).val());
            });

            $('input[name^="deliveryApprovalTxtbox"]').each(function () {
                deliveryApprovalEmailArray.push($(this).val());
            });
         
            data = {
                agreementEmail: agreementEmailArray,
                deliveryApprovalEmail: deliveryApprovalEmailArray,
                dealID: viewModel.dealID() || ""
            }

            $.ajax({             
                type: "POST",                
                dataType: "json",
                traditional: true,
                data: JSON.stringify(data),
                url: '/api/entre/sendesign'
            })
           .done(function (result) {
               $('#mailSpinner').hide();
               $("#buttonEsignSend").prop("disabled", false);
               if (result.code == 0) {                                      
                   successMessage("@Html.Raw("EsignSent".GetLocalizedText(""))");
                   disableEsign();
               } else if (result.code == 600) {                   
                   ajaxError("@Html.Raw("ValidationErrorEsignMissingEmail".GetLocalizedText(""))"); 
               } else if (result.code == 610) {
                   ajaxError("@Html.Raw("ValidationErrorInvalidEmailFormat".GetLocalizedText(""))");
               } else {    
                   ajaxError(result.message);                   
               }
           })
            .fail(function () {
                $('#mailSpinner').hide();
            })
        }

    viewModel.viewAgreement = function () {
        $("#base64").val(viewModel.base64);
        $("#viewAgreementForm").submit();
    }

    ko.applyBindings(viewModel);

    var message = {};
    message.dealID = viewModel.dealID();

    $.ajax({
        url: '/api/entre/getAgreementData',
        data: JSON.stringify(message),
        success: function (result) {
            if (result.code != 0) {
                ajaxError(result.message);
                //viewModel.showErrorMessage(result.code, result.message, 5000);
            }
            else {
                viewModel.specialConditions(result.body.specialConditions);
                viewModel.customerContact(result.body.customerContact);
                viewModel.customerPhone(result.body.customerPhone);
                viewModel.customerEmail(result.body.customerEmail);
                viewModel.customerFax(result.body.customerFax);
                viewModel.invoiceAddress(result.body.invoiceAddress);
                viewModel.invoiceZipCode(result.body.invoiceZipcode);
                viewModel.invoiceCity(result.body.invoiceCity);
                viewModel.invoiceCoName(result.body.invoiceCoName);
                viewModel.installationAddress(result.body.installationAddress);
                viewModel.installationLocation(result.body.installationLocation);
                viewModel.insuranceOptions(result.body.insuranceOptions.options);
                viewModel.creditDecisionCode(result.body.creditDecisionCode);
                viewModel.creditReasonCode(result.body.creditReasonCode);
                viewModel.creditDecisionText(result.body.creditDecisionText);
                viewModel.creditDecisionDate(result.body.creditDecisionDate);                

                if (result.body.insuranceOptions == null || result.body.insuranceOptions.options == null || result.body.insuranceOptions.options.toString() == "")
                {
                    $("#insurance-options").hide();   
                }
                else 
                {
                  $("#insurance-options").show();
                } 

                if (result.body.specialConditions == null || result.body.specialConditions.toString() == "") {
                    $("#special-conditions").hide();
                }
                else {
                    $("#special-conditions").show();
                }
                

                //Replace with input from partner if there is any
                // customer info
                @if (@SessionObjects.CurrentCustomerInfo.contact != null)
                {
                    @Html.Raw("viewModel.customerContact('" + SessionObjects.CurrentCustomerInfo.contact + "');");
                }
                @if (@SessionObjects.CurrentCustomerInfo.phoneNo != null)
                {
                    @Html.Raw("viewModel.customerPhone('" + SessionObjects.CurrentCustomerInfo.phoneNo + "');");
                }
                @if (@SessionObjects.CurrentCustomerInfo.email != null)
                {
                    @Html.Raw("viewModel.customerEmail('" + SessionObjects.CurrentCustomerInfo.email + "');");
                }
                @if (@SessionObjects.CurrentCustomerInfo.fax != null)
                {
                    @Html.Raw("viewModel.customerFax('" + SessionObjects.CurrentCustomerInfo.fax + "');");
                }             
                // invoice info
                @if (@SessionObjects.InvoiceAddressInfo.coName != null)
                {
                    @Html.Raw("viewModel.invoiceCoName('" + SessionObjects.InvoiceAddressInfo.coName + "');");
                }
                @if (@SessionObjects.InvoiceAddressInfo.postalAddress != null)
                {
                    @Html.Raw("viewModel.invoiceAddress('" + SessionObjects.InvoiceAddressInfo.postalAddress + "');");
                }
                @if (@SessionObjects.InvoiceAddressInfo.city != null)
                {
                    @Html.Raw("viewModel.invoiceCity('" + SessionObjects.InvoiceAddressInfo.city + "');");
                }
                @if (@SessionObjects.InvoiceAddressInfo.zipCode != null)
                {
                    @Html.Raw("viewModel.invoiceZipCode('" + SessionObjects.InvoiceAddressInfo.zipCode + "');");
                }
                @if (@SessionObjects.InstallationAddress != null)
                {
                    @Html.Raw("viewModel.installationAddress('" + SessionObjects.InstallationAddress + "');");
                }
                @if (@SessionObjects.InstallationAddressLocation != null)
                {
                    @Html.Raw("viewModel.installationLocation('" + SessionObjects.InstallationAddressLocation + "');");
                }
                    
                
                $("#insuranceOption" + $.inArray(result.body.insuranceOptions.value, viewModel.insuranceOptions())).attr("checked", true);

                $("#agreementForm").show();
            }
        }
    });
        
    viewModel.showModal = function () {       
        $("#missingEmail").hide();
        $("#tabs").show();

        $("#dialog-modal").dialog({
            title: "@Html.Raw("AgreementCreated".GetLocalizedEnumText(""))",
            height: 538,
            width: 600,
            resizable: false,
            draggable: false,
            dialogClass: "dialogClass",
            closeOnEscape: false,
            buttons: {
                "@Html.Raw("Exit".GetLocalizedText(""))": function () {
                        $(this).dialog("close");
                        gotoEntre();
                    }
                },
            modal: true
        });

        $("#tabs").tabs();

        $("#dialog-modal input[type=submit]").button().click(function (event) {
            event.preventDefault();
        });
    }

        viewModel.showModalMissingEmail = function () {
            $("#tabs").hide();
            
            $("#dialog-modal").dialog({
                title: "@Html.Raw("MissingEmail".GetLocalizedText(""))",
                height: 380,
                width: 600,
                resizable: false,
                draggable: false,
                dialogClass: "dialogClass",
                closeOnEscape: false,
                buttons: [{
                    id: "btnExit",
                    text: "@Html.Raw("Exit".GetLocalizedText(""))",
                    click: function () {
                        $(this).dialog("close");                       
                    }
                }],
                modal: true
            });            

            $("#dialog-modal input[type=submit]").button().click(function (event) {
                event.preventDefault();
            });
        }
        
        // Script used by Force email address        
        function noEmail() {
            // A valid email address must be entered
            if ($('input[name="txtNoEmail"]').val().trim() == "")
            {
                ajaxError("@Html.Raw("MissingEmail".GetLocalizedText(""))");
                return;
            }

            // Validate the entered email address
            if ($("#txtNoEmail").val().trim().length != 0 && $("#txtNoEmail").val().toString().indexOf("@@") == -1) {
                ajaxError("@Html.Raw("ValidationErrorInvalidEmailFormat".GetLocalizedText(""))");
                return;
            }

            $("#missingEmailSpinner").show();
            viewModel.createAgreement();            
        }

        function disableEsign() {     
            if (viewModel.esignAgreementEnabled()) {
                $("#agreementTxtbox").val('');
                $("#agreementTxtbox").attr("placeholder", "@Html.Raw("EsignComplete".GetLocalizedText(""))");
                $("#agreementTxtbox").prop("readonly", true);
                setVisible("imgAgreementContainer", false);
                if (document.getElementById("agreementContainer").childNodes.length > 1) {
                    $("#agreementContainer").remove();
                }
            }
            if (viewModel.esignDeliveryApprovalEnabled()) {
                $("#deliveryApprovalTxtbox").val('');
                $("#deliveryApprovalTxtbox").attr("placeholder", "@Html.Raw("EsignComplete".GetLocalizedText(""))");
                $("#deliveryApprovalTxtbox").prop("readonly", true);
                setVisible("imgDeliveryApprovalContainer", false);
                if (document.getElementById("deliveryApprovalContainer").childNodes.length > 1) {
                    $("#deliveryApprovalContainer").remove();
                }
            }            
            setVisible("buttonEsignSend", false);            
        }


        // Scripts used by Esign       
        function GetDynamicTextBox(value, type) {

            var path = window.location.origin                       

            if (type == 'agreement') {
                return '@Html.TextBoxFor(model => model.esignEmail, new { Name="agreementTxtbox", @class="inputText", style="width:450px; margin:5px 3px" })' +
                '   ' +
                '<img onclick="RemoveTextBoxAgreement(this)" src="' + path + '/Content/images/icons/delete-product-row.png" height="10" width="10" title="@Html.Raw("DeleteEmail".GetLocalizedText(""))" >'
            }
            else {
                return '@Html.TextBoxFor(model => model.esignEmail, new { Name="deliveryApprovalTxtbox", @class="inputText", style="width:450px; margin:5px 3px" })' +
                  '   ' +
                  '<img onclick="RemoveTextBoxDeliveryApproval(this)" src="' + path + '/Content/images/icons/delete-product-row.png" height="10" width="10" title="@Html.Raw("DeleteEmail".GetLocalizedText(""))" >'   
            }            
        }

        function AddTextBox(type) {

            var esignType = type;
            var containerType = ""
            var imageID = ""
            var labelID = ""

            var div = document.createElement('DIV');

            div.innerHTML = GetDynamicTextBox("", esignType);

            if (esignType == 'agreement') {
                containerType = "agreementContainer"
                imageID = "imgAddAgreement"
                labelID = "lblAddAgreement"
            }
            else {
                containerType = "deliveryApprovalContainer"
                imageID = "imgAddDeliveryApproval"
                labelID = "lblAddDeliveryApproval"
            }

            document.getElementById(containerType).appendChild(div);

            if (document.getElementById(containerType).childNodes.length >= 5) { // Max no of email addresses                
                setVisible(imageID, false);
                setVisible(labelID, false);
            }
        }

        function RemoveTextBoxAgreement(div) {

            document.getElementById("agreementContainer").removeChild(div.parentNode);
            setVisible("imgAddAgreement", true);
            setVisible("lblAddAgreement", true);
        }

        function RemoveTextBoxDeliveryApproval(div) {

            document.getElementById("deliveryApprovalContainer").removeChild(div.parentNode);
            setVisible("imgAddDeliveryApproval", true);
            setVisible("lblAddDeliveryApproval", true);
        }

        function setVisible(id, visible) {
            var img = document.getElementById(id);
            img.style.visibility = (visible ? 'visible' : 'hidden');
        }
    </script>
}

<form id="modalForm" style="display:none;">
<div id="dialog-modal" style="display:none;">
    <div id="missingEmail">
        <fieldset class="inputText">
            <legend></legend>
            <p>
                @Html.Raw("MissingCustomerEmailText".GetLocalizedText(""))
            </p>
            <p>
               <img src="/Content/images/icons/email.png" alt="" style="margin-right:4px;"/>   
               <input type="text" id="txtNoEmail" name="txtNoEmail" class="inputText" data-bind="value: viewModel.customerEmail" style="width:450px; margin:5px 3px" placeholder="@Html.Raw("EnterEmail".GetLocalizedText(""))">
            </p>           
        </fieldset>
        <br />        
        <input type="button" id="btnCreateAgreement" value="@Html.Raw("CreateAgreementButton".GetLocalizedText(""))" onclick="noEmail();"  class="btn btn-success" />        
        <div id="missingEmailSpinner" style="display:none; float:right; margin:1px 300px"></div>
        <!--
        <p>
            <label class="actionLink" id="lblNoCustomerEmail" onclick="noEmail();" style="margin:5px 3px; font-size:xx-small"></label>
        </p>
        -->           
    </div>    
    <div id="tabs">
        <ul>           
            <!-- ko if: viewModel.esignAgreementEnabled() == true || viewModel.esignDeliveryApprovalEnabled() == true --><li><a href="#tabs-1">@Html.Raw("Esign".GetLocalizedText(""))</a></li><!-- /ko --> 
            <li><a href="#tabs-2">@Html.Raw("OpenOrSave".GetLocalizedText(""))</a>

            </li>
            <li><a href="#tabs-3">@Html.Raw("Email".GetLocalizedText(""))</a>

            </li>            
        </ul>
                                  
            <div id="tabs-1">                 
                <!-- ko if: viewModel.esignAgreementEnabled() == true -->
                <p>
                    <img src="/Content/images/icons/spec.png" alt="" style="margin-right:4px;"/>                  
                    <label style="font-size:medium">@Html.Raw("Agreement".GetLocalizedText(""))</label>
                    
                </p>
                <fieldset class="inputText">
                    <legend></legend>
                    <div id="agreementDefault">                        
                        @Html.TextBoxFor(model => model.esignEmail, new { Name="agreementTxtbox", id="agreementTxtbox",  placeholder = @Html.Raw("EnterEmail".GetLocalizedText("")),  @class="inputText", style="width:450px; margin:5px 3px"})                                                       
                    </div>
                    <div id="agreementContainer">                        
                        

                    </div>  
                    <div id="imgAgreementContainer">
                        <img id="imgAddAgreement" src="~/Content/images/icons/add-product-row.png" alt="@Html.Raw("AddEmail".GetLocalizedText(""))" onclick="AddTextBox('agreement');" 
                            style="float:left; margin:5px; width: 15px; height: 15px" />                                 
                        <label class="actionLink" id="lblAddAgreement" onclick="AddTextBox('agreement');" style="float:left; margin:5px 3px; font-size:xx-small">@Html.Raw("AddEmail".GetLocalizedText(""))</label>                                 
                    </div>                      
                </fieldset>                
                <br />
                <br />
                <!-- /ko -->
                <!-- ko if: viewModel.esignDeliveryApprovalEnabled() == true -->
                <p>
                    <img src="/Content/images/icons/spec.png" alt="" style="margin-right:4px;"/>
                    <label style="font-size:medium">@Html.Raw("DeliveryApproval".GetLocalizedText(""))</label> 
                </p>
                <fieldset class="inputText">
                        <legend></legend>
                    <div id="deliveryApprovalDefault">                        
                        @Html.TextBoxFor(model => model.esignEmail, new { Name="deliveryApprovalTxtbox", id="deliveryApprovalTxtbox", placeholder = @Html.Raw("EnterEmail".GetLocalizedText("")), @class="inputText", style="width:450px; margin:5px 3px"})                                                 
                    </div>
                    <div id="deliveryApprovalContainer">
            
                    </div>
                    <div id="imgDeliveryApprovalContainer">
                        <img id="imgAddDeliveryApproval" src="~/Content/images/icons/add-product-row.png" alt="@Html.Raw("AddEmail".GetLocalizedText(""))" onclick="AddTextBox('deliveryApproval');" 
                            style="float:left; margin:5px; width: 15px; height: 15px" />   
                        <label class="actionLink" id="lblAddDeliveryApproval" onclick="AddTextBox('deliveryApproval');" style="float:left; margin:5px 3px; font-size:xx-small">@Html.Raw("AddEmail".GetLocalizedText(""))</label>
                    </div>
                    <br />
                    <br />                   
                </fieldset>                                 
                <br />                
                <!-- /ko -->
                <!-- ko if: viewModel.esignAgreementEnabled() == true || viewModel.esignDeliveryApprovalEnabled() == true -->
                <input type="button" id="buttonEsignSend" value='@Html.Raw("Send".GetLocalizedText(""))' onclick="viewModel.sendEsign();" style="float:left" class="btn btn-success" />                                                         
                <!-- /ko -->
            </div>                              
        <div id="tabs-2">
            <p>
                <img src="/Content/images/icons/pdf.jpg" style="float:left;" />   
               <!--  <a href="#" data-bind="click: viewAgreement"></a> -->
				<input style="margin:24px 0px 0px 0px;" type="button" data-bind="click: viewAgreement" class="btn btn-success" value='@Html.Raw("OpenOrSaveAgreementPDF".GetLocalizedText(""))' />
                
            </p>
        </div>
        <div id="tabs-3">
            <p>
                <label>@Html.Raw("EmailTo".GetLocalizedText(""))</label>
                <br>
                <input type="text" class="inputText" style="width:500px" data-bind="value: viewModel.mailTo">
                <br />               
                <label>@Html.Raw("EmailSubject".GetLocalizedText(""))</label>
                <br>
                <input type="text" class="inputText" style="width:500px" data-bind="value: viewModel.mailSubject">
                <br><br>
				<input type="text" class="inputText attachmentField" style="width:486px" value="PDF is attached" disabled >
                <br>
				Innehåll<Br>
                <textarea class="inputText" style="width:500px; height:120px" data-bind="value: viewModel.mailBody"></textarea>
                <br>
                <br>
            </p>        
            <input type="button" value='Skicka' onclick="viewModel.sendMail();" style="float:left" class="btn btn-success" />
            <div id="mailSpinner" style="display:none; float:left; margin:15px;"></div>
            <div style="clear:both"></div>
        </div>        
    </div>
</div>
</form>