﻿@using WebAPITest.Extensions
@using WebAPITest.Models
@using WebAPITest.Helpers


<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    
    @Styles.Render("~/Content/chosen")
    @Styles.Render("~/Content/toastr")
    @Styles.Render("~/Content/bootstrap")
    @Styles.Render("~/Content/themes/base/css")
    @Styles.Render("~/Content/css")
    @Styles.Render("~/Content/fontawesome")
    @RenderSection("styles", required: false)
    @Scripts.Render("~/bundles/modernizr")
</head>
<body>

    <a id="close" class="btn btn-danger" href="#"><i class="fa fa-window-close fa-lg"></i> @Html.Raw("ExitApplication".GetLocalizedText(""))</a>

    <div id="language" class="btn-group">
		<a class="btn btn-default" href="#"><i class="fa fa-globe fa-fw"></i> Language</a>
		<a class="btn btn-default dropdown-toggle" data-toggle="dropdown" href="#">
		<span class="fa fa-caret-down" title="Toggle dropdown menu"></span>
		</a>
		<ul class="dropdown-menu">
		    @foreach (var item in @LanguageHelper.AvailableLanguages)
            {
                <li class="languageSelect" data-value="@item.Value"><a href="#">@item.Text</a></li>
            }
		</ul>
	</div>

	<div class="container">
		<div class="row" style="margin-left:0px;">
			<div class="span9" style="float:none; margin: 0 auto;">
				<div class="row">
					<div class="span9 pagination-centered" style="float:none; margin: 0 auto;padding-bottom:20px">
						<div id="progressbar" class="@ViewBag.Progressbar">
							<div id="progressbarCalculation" class="@(ViewBag.Progressbar == "progressbar1" ? "progressbarActive" : null)" >@Html.Raw("ProgressbarCalculation".GetLocalizedText(""))</div>
							<div id="progressbarAgreement" class="@(ViewBag.Progressbar == "progressbar3" ? "progressbarActive" : null)" >@Html.Raw("ProgressbarAgreement".GetLocalizedText(""))</div>
						    <div id="progressbarCredit" class="@(ViewBag.Progressbar == "progressbar2" ? "progressbarActive" : null)" >@Html.Raw("ProgressbarCredit".GetLocalizedText(""))</div>
							
						</div>
					</div>
				</div>		
				@RenderBody()
			</div>
		</div>
    </div>
    <div id="pageLoadSpinner" style="color: lightgray; float:left; margin-left:50%; margin-bottom:80%;"></div>	

	<div class="footer navbar-fixed-bottom">
		<div class="row pagination-centered">
			<div class="span8" style="margin:0 auto;float:none;">
				<table style="width:auto;margin:0px auto;">
					<tr>
						<td><div class="footerImage emailImage"></div></td>
						<td style="padding-right:50px;">
							<div id="salesContactEmail" class="footerText"><a href="mailto:@SessionObjects.CurrentSalesPersonInfo.email">@SessionObjects.CurrentSalesPersonInfo.contact</a></div>
							<br>
							<div id="businessSupportEmail" class="footerText"><a href='mailto:@SessionObjects.CurrentSupportInfo.email'>Business Support</a></div>
						</td>
						<td><div class="footerImage phoneImage"></div></td>
						<td style="padding-right:50px;">
							<div id="salesContactPhone" class="footerText">@SessionObjects.CurrentSalesPersonInfo.contact  @SessionObjects.CurrentSalesPersonInfo.phoneNo</div>
							<br>
							<div id="businessSupportPhone" class="footerText">Business Support @SessionObjects.CurrentSupportInfo.phoneNo</div>
						</td>
						<td><img width="165px" height="50px" src="../../Content/images/logo2.png" alt="" /></td>
					</tr>
				</table>
			</div>
		</div>
	</div>


    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/jqueryui")
    @Scripts.Render("~/bundles/jqueryval")
    @Scripts.Render("~/bundles/json2")
    @Scripts.Render("~/bundles/knockoutjs")
    @Scripts.Render("~/bundles/chosen")
    @Scripts.Render("~/bundles/toastr")
    @Scripts.Render("~/bundles/spin")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/bundles/knockoutbindings")
    @Scripts.Render("~/bundles/shared")
    @RenderSection("scripts", required: false)

    <script>
        $(function () {

            $(".dropdown-toggle").dropdown();

            $("#close").on("click", showExitDialog);

            $("#language").on("click", "li", function (event) {
                changeLanguage($(this).attr("data-value"));
            })

            function changeLanguage(language) {

                if (language != null) {

                    //Make a ajax call to controller here
                    $.ajax({
                        contentType: 'application/json',
                        type: "POST",
                        url: '/home/ChangeLanguage',
                        data: JSON.stringify({ 'selectedValue': language }),
                        error: function () { alert('Failed to change language') }, // todo, translate
                        success: function () { location.reload(false) }
                    });
                }
            }

            function showExitDialog() {
                $("#exitDialog").dialog({
                    resizable: false,
                    width: 500,
                    modal: true,
                    dialogClass: "dialogClass",
                    closeOnEscape: false,
                    buttons: {
                        "@Html.Raw("Cancel".GetLocalizedText(""))": function () {
                            $(this).dialog("close");
                        },
                        "@Html.Raw("Exit".GetLocalizedText(""))": function () {
                            $(this).dialog("close");
                            gotoEntre();
                        }
                    }
                });
            }
        });

    </script>
    <div id="exitDialog" title="@Html.Raw("ExitConfirmationTitle".GetLocalizedText(""))" style="display:none">@Html.Raw("ExitConfirmationQuestion".GetLocalizedText(""))</div>
   <script type="text/javascript">  
       var isTest = "@System.Configuration.ConfigurationManager.AppSettings["InTESTMode"]";
       if (isTest.toString() == "true") {
           document.body.style.background = "url('/Content/images/Test.png')";
           document.body.style.backgroundRepeat = "no-repeat";
           document.body.style.backgroundPosition = "top center";
       }
    </script>
</body>
</html>
