﻿@using WebAPITest.Extensions
@using WebAPITest.Models
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>

    <script src="~/Scripts/jquery-1.9.1.min.js"></script>	
    <script src="~/Scripts/jquery-2.1.3.min.js"></script>
	<script src="~/Scripts/bootstrap.min.js"></script>
    <link href="~/Content/bootstrap-testMode.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    
</head>
<body>
		<header>
			<img src="~/Content/images/dll.png" style="height:100px;margin:10px 0px 0px 40px;"/>
		</header>
    
	<div class="container">
		<div class="row" style="margin-left:0px;">
			<div class="span9" style="float:none; margin: 0 auto;">
				<div class="row">
					<div class="span9 pagination-centered" style="float:none; margin: 0 auto;padding-bottom:20px; background-color="blue" ">
						<div id="progressbar" class="@ViewBag.Progressbar">
							
						</div>
					</div>
				</div>		
				@RenderBody()
			</div>
		</div>
	<div>
		<div>
			<div class="span8" style="margin:0 auto;float:none;">
				<table style="width:auto;margin:0px auto;">
					<tr>
						<td><div style="width:38px;height:38px; background: transparent url('../../Content/images/icons/email.png') no-repeat;" ></div></td>
						<td style="padding-right:50px;">
							<div id="businessSupportEmail" class="footerText">
                                <a href='mailto:@SessionObjects.CurrentSupportInfo.email'>Business Support</a></div>
						</td>
						<td><div style="width:38px;height:38px; background: transparent url('../../Content/images/icons/phone.png') no-repeat;" ></div></td>
						<td style="padding-right:50px;">
							<div id="businessSupportPhone" class="footerText">Business Support @SessionObjects.CurrentSupportInfo.phoneNo</div>
						</td>
						<td><img width="165px" height="50px" src="../../Content/images/logo2.png" alt="" /></td>
					</tr>
				</table>
			</div>
		</div>
	</div>
    </div>

</body>
</html>
