﻿@model WebAPITest.Models.CustomError
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <div>
        <h2>@Html.Raw(Model.ErrorTitle)</h2>
        <h3>@Html.Raw(Model.ErrorMessage)</h3>
    </div>
</body>
</html>
